In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r"C:\Users\dell\Downloads\archive (3).zip")

In [3]:
df

,Rank,Mall,Country,City (metropolitan area),Year opened,Gross leasable area (GLA),Shops
0,1,Iran Mall,Iran,Tehran,2018,"1,950,000 m2 (21,000,000 sq ft)","2,500"
1,2,IOI City Mall,Malaysia,Putrajaya,2014,"821,000 m2 (8,840,000 sq ft)",650
2,3,South China Mall,China,Dongguan,2005,"659,612 m2 (7,100,000 sq ft)","2,350"
3,4,Isfahan City Center,Iran,Isfahan,2012,"650,000 m2 (7,000,000 sq ft)",350
4,5,SM Mall of Asia,Philippines,Pasay (Metro Manila),2006,"589,891 m2 (6,349,530 sq ft)","3,500"
5,6,SM Tianjin,China,Tianjin,2016,"565,000 m2 (6,080,000 sq ft)","1,000"
6,7,Golden Resources Mall,China,Beijing,2004,"557,419 m2 (6,000,010 sq ft)",750
7,8,Central WestGate,Thailand,Nonthaburi (Bangkok Metropolitan Region),2015,"550,278 m2 (5,923,140 sq ft)",500
8,9,CentralWorld,Thailand,Bangkok,1990,"550,000 m2 (5,900,000 sq ft)",600
9,10,ICONSIAM,Thailand,Bangkok,2018,"525,000 m2 (5,650,000 sq ft)",550
10,11,Mall of America,United States,"Bloomington, MN (Minneapolisâ€“Saint Paul)",1992,"520,257 m2 (5,600,000 sq ft)",520
11,12,1 Utama,Malaysia,Petaling Jaya,1995,"519,328 m2 (5,590,000 sq ft)",503
12,13,SM City North EDSA,Philippines,Quezon City (Metro Manila),1985,"497,213 m2 (5,351,960 sq ft)","1,000"
13,14,Global Harbor,China,Shanghai,2013,"480,000 m2 (5,200,000 sq ft)",450
14,15,SM Megamall,Philippines,Mandaluyong (Metro Manila),1991,"474,000 m2 (5,100,000 sq ft)","1,000"
15,16,SM Seaside City Cebu,Philippines,Cebu City,2015,"470,486 m2 (5,064,270 sq ft)",700
16,17,Persian Gulf Complex,Iran,Shiraz,2011,"450,000 m2 (4,800,000 sq ft)",355
17,18,The Avenues Mall,Kuwait,Al Rai,2007,"425,000 m2 (4,570,000 sq ft)",1100
18,19,Sunway Pyramid,Malaysia,Subang Jaya,1997,"400,000 m2 (4,300,000 sq ft)",1000
19,19,New Century Global Center,China,Chengdu,2013,"400,000 m2 (4,300,000 sq ft)","2,300"
20,19,Dream Mall,Taiwan,Kaohsiung,2007,"400,000 m2 (4,300,000 sq ft)",250
21,19,Siam Paragon,Thailand,Bangkok,2005,"400,000 m2 (4,300,000 sq ft)",200
22,19,Central Phuket,Thailand,Phuket,2004,"400,000 m2 (4,300,000 sq ft)",250
23,19,Festival Alabang,Philippines,Muntinlupa (Metro Manila),1998,"400,000 m2 (4,300,000 sq ft)",250
24,25,Lotte World Mall,South Korea,Seoul,2014,"383,470 m2 (4,127,600 sq ft)",200
25,26,Jamuna Future Park,Bangladesh,Dhaka,2013,"380,000 m2 (4,100,000 sq ft)",200
26,26,Albrook Mall,Panama,Panama City,2002,"380,000 m2 (4,100,000 sq ft)",200
27,28,Mal Taman Anggrek,Indonesia,Jakarta,1996,"360,000 m2 (3,900,000 sq ft)",150
28,29,Fashion Island (Thailand),Thailand,Bangkok,1995,"350,000 m2 (3,800,000 sq ft)",150
29,29,West Edmonton Mall,Canada,"Edmonton, Alberta",1981,"350,000 m2 (3,800,000 sq ft)",800
30,29,The Dubai Mall,United Arab Emirates,Dubai,2008,"350,000 m2 (3,800,000 sq ft)",400
31,32,Lucky One Mall,Pakistan,Karachi,2017,"340,000 m2 (3,700,000 sq ft)",200
32,33,Gandaria City,Indonesia,Jakarta,2010,"336,279 m2 (3,619,680 sq ft)",250
33,34,Limketkai Center,Philippines,Cagayan de Oro,1992,"320,000 m2 (3,400,000 sq ft)",250
34,34,Berjaya Times Square,Malaysia,Kuala Lumpur,2003,"320,000 m2 (3,400,000 sq ft)",200
35,36,SM City Fairview,Philippines,Quezon City (Metro Manila),1997,"312,749 m2 (3,366,400 sq ft)",350
36,37,The Grand Central Mall,Pakistan,Faisalabad,Under-Construction,"310,000 m2 (3,300,000 sq ft)",0
37,38,Zhengjia Plaza (Grandview Mall),China,Guangzhou,2005,"280,000 m2 (3,000,000 sq ft)",180
38,38,Centro Mayor,Colombia,Bogota,2010,"280,000 m2 (3,000,000 sq ft)",250
39,38,American Dream Meadowlands,United States,"East Rutherford, NJ (New York City area)",2019,"280,000 m2 (3,000,000 sq ft)",200
40,38,Haikou International Duty Free City,China,"Haikou, Hainan",2022,"280,000 m2 (3,000,000 sq ft)",200
41,42,SM City Cebu,Philippines,Cebu City,1993,"273,804 m2 (2,947,200 sq ft)",680
42,43,"The Avenues, Bahrain",Bahrain,Bahrain Bay,2017,"273,000 m2 (2,940,000 sq ft)",680
43,44,Medan Centre Point,Indonesia,Medan,2013,"270,000 m2 (2,900,000 sq ft)",680
44,44,Mal Artha Gading,Indonesia,Jakarta,2004,"270,000 m2 (2,900,000 sq ft)",330
45,46,Mall of Arabia,Saudi Arabia,Jeddah,2010,"261,000 m2 (2,810,000 sq ft)",187
46,47,King of Prussia,United States,King of Prussia (Philadelphia metropolitan area),1963,"259,500 m2 (2,793,000 sq ft)",200
47,48,Greenwich Mall,Russia,Ekaterinburg,2006,"258,673 m2 (2,784,330 sq ft)",250
48,49,Tunjungan Plaza,Indonesia,Surabaya,1986,"253,187 m2 (2,725,280 sq ft)",250
49,50,Emporium Mall,Pakistan,Lahore,2016,"250,000 m2 (2,700,000 sq ft)",200
50,50,Centro Sambil,Venezuela,Caracas,1998,"250,000 m2 (2,700,000 sq ft)",300
51,50,Aventura Mall,United States,Aventura (Miami area),1983,"250,000 m2 (2,700,000 sq ft)",300
52,50,Glorietta,Philippines,Makati (Metro Manila),1991,"250,000 m2 (2,700,000 sq ft)",300
53,50,Greenbelt,Philippines,Makati (Metro Manila),1991,"250,000 m2 (2,700,000 sq ft)",300
54,50,South Coast Plaza,United States,Costa Mesa (Greater Los Angeles),1967,"250,000 m2 (2,700,000 sq ft)",286
55,50,Centro Comercial SantafÃ©,Colombia,Bogota,2006,"250,000 m2 (2,700,000 sq ft)",150

In [4]:
df.head()

,Rank,Mall,Country,City (metropolitan area),Year opened,Gross leasable area (GLA),Shops
0,1,Iran Mall,Iran,Tehran,2018,"1,950,000 m2 (21,000,000 sq ft)","2,500"
1,2,IOI City Mall,Malaysia,Putrajaya,2014,"821,000 m2 (8,840,000 sq ft)",650
2,3,South China Mall,China,Dongguan,2005,"659,612 m2 (7,100,000 sq ft)","2,350"
3,4,Isfahan City Center,Iran,Isfahan,2012,"650,000 m2 (7,000,000 sq ft)",350
4,5,SM Mall of Asia,Philippines,Pasay (Metro Manila),2006,"589,891 m2 (6,349,530 sq ft)","3,500"

In [5]:
df.tail()

,Rank,Mall,Country,City (metropolitan area),Year opened,Gross leasable area (GLA),Shops
51,50,Aventura Mall,United States,Aventura (Miami area),1983,"250,000 m2 (2,700,000 sq ft)",300
52,50,Glorietta,Philippines,Makati (Metro Manila),1991,"250,000 m2 (2,700,000 sq ft)",300
53,50,Greenbelt,Philippines,Makati (Metro Manila),1991,"250,000 m2 (2,700,000 sq ft)",300
54,50,South Coast Plaza,United States,Costa Mesa (Greater Los Angeles),1967,"250,000 m2 (2,700,000 sq ft)",286
55,50,Centro Comercial SantafÃ©,Colombia,Bogota,2006,"250,000 m2 (2,700,000 sq ft)",150

In [6]:
#if i want first 10 records

In [7]:
df.head(10)

,Rank,Mall,Country,City (metropolitan area),Year opened,Gross leasable area (GLA),Shops
0,1,Iran Mall,Iran,Tehran,2018,"1,950,000 m2 (21,000,000 sq ft)","2,500"
1,2,IOI City Mall,Malaysia,Putrajaya,2014,"821,000 m2 (8,840,000 sq ft)",650
2,3,South China Mall,China,Dongguan,2005,"659,612 m2 (7,100,000 sq ft)","2,350"
3,4,Isfahan City Center,Iran,Isfahan,2012,"650,000 m2 (7,000,000 sq ft)",350
4,5,SM Mall of Asia,Philippines,Pasay (Metro Manila),2006,"589,891 m2 (6,349,530 sq ft)","3,500"
5,6,SM Tianjin,China,Tianjin,2016,"565,000 m2 (6,080,000 sq ft)","1,000"
6,7,Golden Resources Mall,China,Beijing,2004,"557,419 m2 (6,000,010 sq ft)",750
7,8,Central WestGate,Thailand,Nonthaburi (Bangkok Metropolitan Region),2015,"550,278 m2 (5,923,140 sq ft)",500
8,9,CentralWorld,Thailand,Bangkok,1990,"550,000 m2 (5,900,000 sq ft)",600
9,10,ICONSIAM,Thailand,Bangkok,2018,"525,000 m2 (5,650,000 sq ft)",550

In [8]:
#if i want last 10 records

In [9]:
df.tail(10)

,Rank,Mall,Country,City (metropolitan area),Year opened,Gross leasable area (GLA),Shops
46,47,King of Prussia,United States,King of Prussia (Philadelphia metropolitan area),1963,"259,500 m2 (2,793,000 sq ft)",200
47,48,Greenwich Mall,Russia,Ekaterinburg,2006,"258,673 m2 (2,784,330 sq ft)",250
48,49,Tunjungan Plaza,Indonesia,Surabaya,1986,"253,187 m2 (2,725,280 sq ft)",250
49,50,Emporium Mall,Pakistan,Lahore,2016,"250,000 m2 (2,700,000 sq ft)",200
50,50,Centro Sambil,Venezuela,Caracas,1998,"250,000 m2 (2,700,000 sq ft)",300
51,50,Aventura Mall,United States,Aventura (Miami area),1983,"250,000 m2 (2,700,000 sq ft)",300
52,50,Glorietta,Philippines,Makati (Metro Manila),1991,"250,000 m2 (2,700,000 sq ft)",300
53,50,Greenbelt,Philippines,Makati (Metro Manila),1991,"250,000 m2 (2,700,000 sq ft)",300
54,50,South Coast Plaza,United States,Costa Mesa (Greater Los Angeles),1967,"250,000 m2 (2,700,000 sq ft)",286
55,50,Centro Comercial SantafÃ©,Colombia,Bogota,2006,"250,000 m2 (2,700,000 sq ft)",150

In [10]:
df.columns

Index(['Rank', 'Mall', 'Country', 'City (metropolitan area)', 'Year opened',
       'Gross leasable area (GLA)', 'Shops'],
      dtype='object')

In [11]:
df.shape

(56, 7)

In [14]:
#if want to check the type of the data

In [15]:
df.dtypes

Rank                          int64
Mall                         object
Country                      object
City (metropolitan area)     object
Year opened                  object
Gross leasable area (GLA)    object
Shops                        object
dtype: object

In [16]:
#if i want to change the column names

In [17]:
df=pd.read_csv(r"C:\Users\dell\Downloads\archive (3).zip",header=None)

In [18]:
df

,0,1,2,3,4,5,6
0,Rank,Mall,Country,City (metropolitan area),Year opened,Gross leasable area (GLA),Shops
1,1,Iran Mall,Iran,Tehran,2018,"1,950,000 m2 (21,000,000 sq ft)","2,500"
2,2,IOI City Mall,Malaysia,Putrajaya,2014,"821,000 m2 (8,840,000 sq ft)",650
3,3,South China Mall,China,Dongguan,2005,"659,612 m2 (7,100,000 sq ft)","2,350"
4,4,Isfahan City Center,Iran,Isfahan,2012,"650,000 m2 (7,000,000 sq ft)",350
5,5,SM Mall of Asia,Philippines,Pasay (Metro Manila),2006,"589,891 m2 (6,349,530 sq ft)","3,500"
6,6,SM Tianjin,China,Tianjin,2016,"565,000 m2 (6,080,000 sq ft)","1,000"
7,7,Golden Resources Mall,China,Beijing,2004,"557,419 m2 (6,000,010 sq ft)",750
8,8,Central WestGate,Thailand,Nonthaburi (Bangkok Metropolitan Region),2015,"550,278 m2 (5,923,140 sq ft)",500
9,9,CentralWorld,Thailand,Bangkok,1990,"550,000 m2 (5,900,000 sq ft)",600
10,10,ICONSIAM,Thailand,Bangkok,2018,"525,000 m2 (5,650,000 sq ft)",550
11,11,Mall of America,United States,"Bloomington, MN (Minneapolisâ€“Saint Paul)",1992,"520,257 m2 (5,600,000 sq ft)",520
12,12,1 Utama,Malaysia,Petaling Jaya,1995,"519,328 m2 (5,590,000 sq ft)",503
13,13,SM City North EDSA,Philippines,Quezon City (Metro Manila),1985,"497,213 m2 (5,351,960 sq ft)","1,000"
14,14,Global Harbor,China,Shanghai,2013,"480,000 m2 (5,200,000 sq ft)",450
15,15,SM Megamall,Philippines,Mandaluyong (Metro Manila),1991,"474,000 m2 (5,100,000 sq ft)","1,000"
16,16,SM Seaside City Cebu,Philippines,Cebu City,2015,"470,486 m2 (5,064,270 sq ft)",700
17,17,Persian Gulf Complex,Iran,Shiraz,2011,"450,000 m2 (4,800,000 sq ft)",355
18,18,The Avenues Mall,Kuwait,Al Rai,2007,"425,000 m2 (4,570,000 sq ft)",1100
19,19,Sunway Pyramid,Malaysia,Subang Jaya,1997,"400,000 m2 (4,300,000 sq ft)",1000
20,19,New Century Global Center,China,Chengdu,2013,"400,000 m2 (4,300,000 sq ft)","2,300"
21,19,Dream Mall,Taiwan,Kaohsiung,2007,"400,000 m2 (4,300,000 sq ft)",250
22,19,Siam Paragon,Thailand,Bangkok,2005,"400,000 m2 (4,300,000 sq ft)",200
23,19,Central Phuket,Thailand,Phuket,2004,"400,000 m2 (4,300,000 sq ft)",250
24,19,Festival Alabang,Philippines,Muntinlupa (Metro Manila),1998,"400,000 m2 (4,300,000 sq ft)",250
25,25,Lotte World Mall,South Korea,Seoul,2014,"383,470 m2 (4,127,600 sq ft)",200
26,26,Jamuna Future Park,Bangladesh,Dhaka,2013,"380,000 m2 (4,100,000 sq ft)",200
27,26,Albrook Mall,Panama,Panama City,2002,"380,000 m2 (4,100,000 sq ft)",200
28,28,Mal Taman Anggrek,Indonesia,Jakarta,1996,"360,000 m2 (3,900,000 sq ft)",150
29,29,Fashion Island (Thailand),Thailand,Bangkok,1995,"350,000 m2 (3,800,000 sq ft)",150
30,29,West Edmonton Mall,Canada,"Edmonton, Alberta",1981,"350,000 m2 (3,800,000 sq ft)",800
31,29,The Dubai Mall,United Arab Emirates,Dubai,2008,"350,000 m2 (3,800,000 sq ft)",400
32,32,Lucky One Mall,Pakistan,Karachi,2017,"340,000 m2 (3,700,000 sq ft)",200
33,33,Gandaria City,Indonesia,Jakarta,2010,"336,279 m2 (3,619,680 sq ft)",250
34,34,Limketkai Center,Philippines,Cagayan de Oro,1992,"320,000 m2 (3,400,000 sq ft)",250
35,34,Berjaya Times Square,Malaysia,Kuala Lumpur,2003,"320,000 m2 (3,400,000 sq ft)",200
36,36,SM City Fairview,Philippines,Quezon City (Metro Manila),1997,"312,749 m2 (3,366,400 sq ft)",350
37,37,The Grand Central Mall,Pakistan,Faisalabad,Under-Construction,"310,000 m2 (3,300,000 sq ft)",0
38,38,Zhengjia Plaza (Grandview Mall),China,Guangzhou,2005,"280,000 m2 (3,000,000 sq ft)",180
39,38,Centro Mayor,Colombia,Bogota,2010,"280,000 m2 (3,000,000 sq ft)",250
40,38,American Dream Meadowlands,United States,"East Rutherford, NJ (New York City area)",2019,"280,000 m2 (3,000,000 sq ft)",200
41,38,Haikou International Duty Free City,China,"Haikou, Hainan",2022,"280,000 m2 (3,000,000 sq ft)",200
42,42,SM City Cebu,Philippines,Cebu City,1993,"273,804 m2 (2,947,200 sq ft)",680
43,43,"The Avenues, Bahrain",Bahrain,Bahrain Bay,2017,"273,000 m2 (2,940,000 sq ft)",680
44,44,Medan Centre Point,Indonesia,Medan,2013,"270,000 m2 (2,900,000 sq ft)",680
45,44,Mal Artha Gading,Indonesia,Jakarta,2004,"270,000 m2 (2,900,000 sq ft)",330
46,46,Mall of Arabia,Saudi Arabia,Jeddah,2010,"261,000 m2 (2,810,000 sq ft)",187
47,47,King of Prussia,United States,King of Prussia (Philadelphia metropolitan area),1963,"259,500 m2 (2,793,000 sq ft)",200
48,48,Greenwich Mall,Russia,Ekaterinburg,2006,"258,673 m2 (2,784,330 sq ft)",250
49,49,Tunjungan Plaza,Indonesia,Surabaya,1986,"253,187 m2 (2,725,280 sq ft)",250
50,50,Emporium Mall,Pakistan,Lahore,2016,"250,000 m2 (2,700,000 sq ft)",200
51,50,Centro Sambil,Venezuela,Caracas,1998,"250,000 m2 (2,700,000 sq ft)",300
52,50,Aventura Mall,United States,Aventura (Miami area),1983,"250,000 m2 (2,700,000 sq ft)",300
53,50,Glorietta,Philippines,Makati (Metro Manila),1991,"250,000 m2 (2,700,000 sq ft)",300
54,50,Greenbelt,Philippines,Makati (Metro Manila),1991,"250,000 m2 (2,700,000 sq ft)",300
55,50,South Coast Plaza,United States,Costa Mesa (Greater Los Angeles),1967,"250,000 m2 (2,700,000 sq ft)",286
56,50,Centro Comercial SantafÃ©,Colombia,Bogota,2006,"250,000 m2 (2,700,000 sq ft)",150

In [19]:
#if i want to give column names as ab,b,c,d

In [22]:
df=pd.read_csv(r"C:\Users\dell\Downloads\archive (3).zip",header=None,names=['a','b','c','d','e','f','g','h'])

In [23]:
df

,a,b,c,d,e,f,g,h
0,Rank,Mall,Country,City (metropolitan area),Year opened,Gross leasable area (GLA),Shops,NaN
1,1,Iran Mall,Iran,Tehran,2018,"1,950,000 m2 (21,000,000 sq ft)","2,500",NaN
2,2,IOI City Mall,Malaysia,Putrajaya,2014,"821,000 m2 (8,840,000 sq ft)",650,NaN
3,3,South China Mall,China,Dongguan,2005,"659,612 m2 (7,100,000 sq ft)","2,350",NaN
4,4,Isfahan City Center,Iran,Isfahan,2012,"650,000 m2 (7,000,000 sq ft)",350,NaN
5,5,SM Mall of Asia,Philippines,Pasay (Metro Manila),2006,"589,891 m2 (6,349,530 sq ft)","3,500",NaN
6,6,SM Tianjin,China,Tianjin,2016,"565,000 m2 (6,080,000 sq ft)","1,000",NaN
7,7,Golden Resources Mall,China,Beijing,2004,"557,419 m2 (6,000,010 sq ft)",750,NaN
8,8,Central WestGate,Thailand,Nonthaburi (Bangkok Metropolitan Region),2015,"550,278 m2 (5,923,140 sq ft)",500,NaN
9,9,CentralWorld,Thailand,Bangkok,1990,"550,000 m2 (5,900,000 sq ft)",600,NaN
10,10,ICONSIAM,Thailand,Bangkok,2018,"525,000 m2 (5,650,000 sq ft)",550,NaN
11,11,Mall of America,United States,"Bloomington, MN (Minneapolisâ€“Saint Paul)",1992,"520,257 m2 (5,600,000 sq ft)",520,NaN
12,12,1 Utama,Malaysia,Petaling Jaya,1995,"519,328 m2 (5,590,000 sq ft)",503,NaN
13,13,SM City North EDSA,Philippines,Quezon City (Metro Manila),1985,"497,213 m2 (5,351,960 sq ft)","1,000",NaN
14,14,Global Harbor,China,Shanghai,2013,"480,000 m2 (5,200,000 sq ft)",450,NaN
15,15,SM Megamall,Philippines,Mandaluyong (Metro Manila),1991,"474,000 m2 (5,100,000 sq ft)","1,000",NaN
16,16,SM Seaside City Cebu,Philippines,Cebu City,2015,"470,486 m2 (5,064,270 sq ft)",700,NaN
17,17,Persian Gulf Complex,Iran,Shiraz,2011,"450,000 m2 (4,800,000 sq ft)",355,NaN
18,18,The Avenues Mall,Kuwait,Al Rai,2007,"425,000 m2 (4,570,000 sq ft)",1100,NaN
19,19,Sunway Pyramid,Malaysia,Subang Jaya,1997,"400,000 m2 (4,300,000 sq ft)",1000,NaN
20,19,New Century Global Center,China,Chengdu,2013,"400,000 m2 (4,300,000 sq ft)","2,300",NaN
21,19,Dream Mall,Taiwan,Kaohsiung,2007,"400,000 m2 (4,300,000 sq ft)",250,NaN
22,19,Siam Paragon,Thailand,Bangkok,2005,"400,000 m2 (4,300,000 sq ft)",200,NaN
23,19,Central Phuket,Thailand,Phuket,2004,"400,000 m2 (4,300,000 sq ft)",250,NaN
24,19,Festival Alabang,Philippines,Muntinlupa (Metro Manila),1998,"400,000 m2 (4,300,000 sq ft)",250,NaN
25,25,Lotte World Mall,South Korea,Seoul,2014,"383,470 m2 (4,127,600 sq ft)",200,NaN
26,26,Jamuna Future Park,Bangladesh,Dhaka,2013,"380,000 m2 (4,100,000 sq ft)",200,NaN
27,26,Albrook Mall,Panama,Panama City,2002,"380,000 m2 (4,100,000 sq ft)",200,NaN
28,28,Mal Taman Anggrek,Indonesia,Jakarta,1996,"360,000 m2 (3,900,000 sq ft)",150,NaN
29,29,Fashion Island (Thailand),Thailand,Bangkok,1995,"350,000 m2 (3,800,000 sq ft)",150,NaN
30,29,West Edmonton Mall,Canada,"Edmonton, Alberta",1981,"350,000 m2 (3,800,000 sq ft)",800,NaN
31,29,The Dubai Mall,United Arab Emirates,Dubai,2008,"350,000 m2 (3,800,000 sq ft)",400,NaN
32,32,Lucky One Mall,Pakistan,Karachi,2017,"340,000 m2 (3,700,000 sq ft)",200,NaN
33,33,Gandaria City,Indonesia,Jakarta,2010,"336,279 m2 (3,619,680 sq ft)",250,NaN
34,34,Limketkai Center,Philippines,Cagayan de Oro,1992,"320,000 m2 (3,400,000 sq ft)",250,NaN
35,34,Berjaya Times Square,Malaysia,Kuala Lumpur,2003,"320,000 m2 (3,400,000 sq ft)",200,NaN
36,36,SM City Fairview,Philippines,Quezon City (Metro Manila),1997,"312,749 m2 (3,366,400 sq ft)",350,NaN
37,37,The Grand Central Mall,Pakistan,Faisalabad,Under-Construction,"310,000 m2 (3,300,000 sq ft)",0,NaN
38,38,Zhengjia Plaza (Grandview Mall),China,Guangzhou,2005,"280,000 m2 (3,000,000 sq ft)",180,NaN
39,38,Centro Mayor,Colombia,Bogota,2010,"280,000 m2 (3,000,000 sq ft)",250,NaN
40,38,American Dream Meadowlands,United States,"East Rutherford, NJ (New York City area)",2019,"280,000 m2 (3,000,000 sq ft)",200,NaN
41,38,Haikou International Duty Free City,China,"Haikou, Hainan",2022,"280,000 m2 (3,000,000 sq ft)",200,NaN
42,42,SM City Cebu,Philippines,Cebu City,1993,"273,804 m2 (2,947,200 sq ft)",680,NaN
43,43,"The Avenues, Bahrain",Bahrain,Bahrain Bay,2017,"273,000 m2 (2,940,000 sq ft)",680,NaN
44,44,Medan Centre Point,Indonesia,Medan,2013,"270,000 m2 (2,900,000 sq ft)",680,NaN
45,44,Mal Artha Gading,Indonesia,Jakarta,2004,"270,000 m2 (2,900,000 sq ft)",330,NaN
46,46,Mall of Arabia,Saudi Arabia,Jeddah,2010,"261,000 m2 (2,810,000 sq ft)",187,NaN
47,47,King of Prussia,United States,King of Prussia (Philadelphia metropolitan area),1963,"259,500 m2 (2,793,000 sq ft)",200,NaN
48,48,Greenwich Mall,Russia,Ekaterinburg,2006,"258,673 m2 (2,784,330 sq ft)",250,NaN
49,49,Tunjungan Plaza,Indonesia,Surabaya,1986,"253,187 m2 (2,725,280 sq ft)",250,NaN
50,50,Emporium Mall,Pakistan,Lahore,2016,"250,000 m2 (2,700,000 sq ft)",200,NaN
51,50,Centro Sambil,Venezuela,Caracas,1998,"250,000 m2 (2,700,000 sq ft)",300,NaN
52,50,Aventura Mall,United States,Aventura (Miami area),1983,"250,000 m2 (2,700,000 sq ft)",300,NaN
53,50,Glorietta,Philippines,Makati (Metro Manila),1991,"250,000 m2 (2,700,000 sq ft)",300,NaN
54,50,Greenbelt,Philippines,Makati (Metro Manila),1991,"250,000 m2 (2,700,000 sq ft)",300,NaN
55,50,South Coast Plaza,United States,Costa Mesa (Greater Los Angeles),1967,"250,000 m2 (2,700,000 sq ft)",286,NaN
56,50,Centro Comercial SantafÃ©,Colombia,Bogota,2006,"250,000 m2 (2,700,000 sq ft)",150,NaN

In [25]:
df=pd.read_csv(r"C:\Users\dell\Downloads\archive (3).zip")

In [26]:
df

,Rank,Mall,Country,City (metropolitan area),Year opened,Gross leasable area (GLA),Shops
0,1,Iran Mall,Iran,Tehran,2018,"1,950,000 m2 (21,000,000 sq ft)","2,500"
1,2,IOI City Mall,Malaysia,Putrajaya,2014,"821,000 m2 (8,840,000 sq ft)",650
2,3,South China Mall,China,Dongguan,2005,"659,612 m2 (7,100,000 sq ft)","2,350"
3,4,Isfahan City Center,Iran,Isfahan,2012,"650,000 m2 (7,000,000 sq ft)",350
4,5,SM Mall of Asia,Philippines,Pasay (Metro Manila),2006,"589,891 m2 (6,349,530 sq ft)","3,500"
5,6,SM Tianjin,China,Tianjin,2016,"565,000 m2 (6,080,000 sq ft)","1,000"
6,7,Golden Resources Mall,China,Beijing,2004,"557,419 m2 (6,000,010 sq ft)",750
7,8,Central WestGate,Thailand,Nonthaburi (Bangkok Metropolitan Region),2015,"550,278 m2 (5,923,140 sq ft)",500
8,9,CentralWorld,Thailand,Bangkok,1990,"550,000 m2 (5,900,000 sq ft)",600
9,10,ICONSIAM,Thailand,Bangkok,2018,"525,000 m2 (5,650,000 sq ft)",550
10,11,Mall of America,United States,"Bloomington, MN (Minneapolisâ€“Saint Paul)",1992,"520,257 m2 (5,600,000 sq ft)",520
11,12,1 Utama,Malaysia,Petaling Jaya,1995,"519,328 m2 (5,590,000 sq ft)",503
12,13,SM City North EDSA,Philippines,Quezon City (Metro Manila),1985,"497,213 m2 (5,351,960 sq ft)","1,000"
13,14,Global Harbor,China,Shanghai,2013,"480,000 m2 (5,200,000 sq ft)",450
14,15,SM Megamall,Philippines,Mandaluyong (Metro Manila),1991,"474,000 m2 (5,100,000 sq ft)","1,000"
15,16,SM Seaside City Cebu,Philippines,Cebu City,2015,"470,486 m2 (5,064,270 sq ft)",700
16,17,Persian Gulf Complex,Iran,Shiraz,2011,"450,000 m2 (4,800,000 sq ft)",355
17,18,The Avenues Mall,Kuwait,Al Rai,2007,"425,000 m2 (4,570,000 sq ft)",1100
18,19,Sunway Pyramid,Malaysia,Subang Jaya,1997,"400,000 m2 (4,300,000 sq ft)",1000
19,19,New Century Global Center,China,Chengdu,2013,"400,000 m2 (4,300,000 sq ft)","2,300"
20,19,Dream Mall,Taiwan,Kaohsiung,2007,"400,000 m2 (4,300,000 sq ft)",250
21,19,Siam Paragon,Thailand,Bangkok,2005,"400,000 m2 (4,300,000 sq ft)",200
22,19,Central Phuket,Thailand,Phuket,2004,"400,000 m2 (4,300,000 sq ft)",250
23,19,Festival Alabang,Philippines,Muntinlupa (Metro Manila),1998,"400,000 m2 (4,300,000 sq ft)",250
24,25,Lotte World Mall,South Korea,Seoul,2014,"383,470 m2 (4,127,600 sq ft)",200
25,26,Jamuna Future Park,Bangladesh,Dhaka,2013,"380,000 m2 (4,100,000 sq ft)",200
26,26,Albrook Mall,Panama,Panama City,2002,"380,000 m2 (4,100,000 sq ft)",200
27,28,Mal Taman Anggrek,Indonesia,Jakarta,1996,"360,000 m2 (3,900,000 sq ft)",150
28,29,Fashion Island (Thailand),Thailand,Bangkok,1995,"350,000 m2 (3,800,000 sq ft)",150
29,29,West Edmonton Mall,Canada,"Edmonton, Alberta",1981,"350,000 m2 (3,800,000 sq ft)",800
30,29,The Dubai Mall,United Arab Emirates,Dubai,2008,"350,000 m2 (3,800,000 sq ft)",400
31,32,Lucky One Mall,Pakistan,Karachi,2017,"340,000 m2 (3,700,000 sq ft)",200
32,33,Gandaria City,Indonesia,Jakarta,2010,"336,279 m2 (3,619,680 sq ft)",250
33,34,Limketkai Center,Philippines,Cagayan de Oro,1992,"320,000 m2 (3,400,000 sq ft)",250
34,34,Berjaya Times Square,Malaysia,Kuala Lumpur,2003,"320,000 m2 (3,400,000 sq ft)",200
35,36,SM City Fairview,Philippines,Quezon City (Metro Manila),1997,"312,749 m2 (3,366,400 sq ft)",350
36,37,The Grand Central Mall,Pakistan,Faisalabad,Under-Construction,"310,000 m2 (3,300,000 sq ft)",0
37,38,Zhengjia Plaza (Grandview Mall),China,Guangzhou,2005,"280,000 m2 (3,000,000 sq ft)",180
38,38,Centro Mayor,Colombia,Bogota,2010,"280,000 m2 (3,000,000 sq ft)",250
39,38,American Dream Meadowlands,United States,"East Rutherford, NJ (New York City area)",2019,"280,000 m2 (3,000,000 sq ft)",200
40,38,Haikou International Duty Free City,China,"Haikou, Hainan",2022,"280,000 m2 (3,000,000 sq ft)",200
41,42,SM City Cebu,Philippines,Cebu City,1993,"273,804 m2 (2,947,200 sq ft)",680
42,43,"The Avenues, Bahrain",Bahrain,Bahrain Bay,2017,"273,000 m2 (2,940,000 sq ft)",680
43,44,Medan Centre Point,Indonesia,Medan,2013,"270,000 m2 (2,900,000 sq ft)",680
44,44,Mal Artha Gading,Indonesia,Jakarta,2004,"270,000 m2 (2,900,000 sq ft)",330
45,46,Mall of Arabia,Saudi Arabia,Jeddah,2010,"261,000 m2 (2,810,000 sq ft)",187
46,47,King of Prussia,United States,King of Prussia (Philadelphia metropolitan area),1963,"259,500 m2 (2,793,000 sq ft)",200
47,48,Greenwich Mall,Russia,Ekaterinburg,2006,"258,673 m2 (2,784,330 sq ft)",250
48,49,Tunjungan Plaza,Indonesia,Surabaya,1986,"253,187 m2 (2,725,280 sq ft)",250
49,50,Emporium Mall,Pakistan,Lahore,2016,"250,000 m2 (2,700,000 sq ft)",200
50,50,Centro Sambil,Venezuela,Caracas,1998,"250,000 m2 (2,700,000 sq ft)",300
51,50,Aventura Mall,United States,Aventura (Miami area),1983,"250,000 m2 (2,700,000 sq ft)",300
52,50,Glorietta,Philippines,Makati (Metro Manila),1991,"250,000 m2 (2,700,000 sq ft)",300
53,50,Greenbelt,Philippines,Makati (Metro Manila),1991,"250,000 m2 (2,700,000 sq ft)",300
54,50,South Coast Plaza,United States,Costa Mesa (Greater Los Angeles),1967,"250,000 m2 (2,700,000 sq ft)",286
55,50,Centro Comercial SantafÃ©,Colombia,Bogota,2006,"250,000 m2 (2,700,000 sq ft)",150

In [27]:
df.describe()

            Rank
count  56.000000
mean   27.642857
std    15.753128
min     1.000000
25%    14.750000
50%    28.500000
75%    42.250000
max    50.000000

In [29]:
df.info() #it will show how much memroy used and other things

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Rank                       56 non-null     int64
 1   Mall                       56 non-null     object
 2   Country                    56 non-null     object
 3   City (metropolitan area)   56 non-null     object
 4   Year opened                56 non-null     object
 5   Gross leasable area (GLA)  56 non-null     object
 6   Shops                      56 non-null     object
dtypes: int64(1), object(6)
memory usage: 3.2+ KB

In [31]:
df['Mall']

0                               Iran Mall
1                           IOI City Mall
2                        South China Mall
3                     Isfahan City Center
4                         SM Mall of Asia
5                              SM Tianjin
6                   Golden Resources Mall
7                        Central WestGate
8                            CentralWorld
9                                ICONSIAM
10                        Mall of America
11                                1 Utama
12                     SM City North EDSA
13                          Global Harbor
14                            SM Megamall
15                   SM Seaside City Cebu
16                   Persian Gulf Complex
17                       The Avenues Mall
18                         Sunway Pyramid
19              New Century Global Center
20                             Dream Mall
21                           Siam Paragon
22                         Central Phuket
23                       Festival Alabang
24                       Lotte World Mall
25                     Jamuna Future Park
26                           Albrook Mall
27                      Mal Taman Anggrek
28              Fashion Island (Thailand)
29                     West Edmonton Mall
30                         The Dubai Mall
31                         Lucky One Mall
32                          Gandaria City
33                       Limketkai Center
34                   Berjaya Times Square
35                       SM City Fairview
36                 The Grand Central Mall
37        Zhengjia Plaza (Grandview Mall)
38                           Centro Mayor
39             American Dream Meadowlands
40    Haikou International Duty Free City
41                           SM City Cebu
42                   The Avenues, Bahrain
43                     Medan Centre Point
44                       Mal Artha Gading
45                         Mall of Arabia
46                        King of Prussia
47                         Greenwich Mall
48                        Tunjungan Plaza
49                          Emporium Mall
50                          Centro Sambil
51                          Aventura Mall
52                              Glorietta
53                              Greenbelt
54                      South Coast Plaza
55               Centro Comercial SantafÃ©
Name: Mall, dtype: object

In [32]:
type(df['Mall'])

pandas.core.series.Series

In [33]:
df[['Mall','Country']]

                                   Mall               Country
0                             Iran Mall                  Iran
1                         IOI City Mall              Malaysia
2                      South China Mall                 China
3                   Isfahan City Center                  Iran
4                       SM Mall of Asia           Philippines
5                            SM Tianjin                 China
6                 Golden Resources Mall                 China
7                      Central WestGate              Thailand
8                          CentralWorld              Thailand
9                              ICONSIAM              Thailand
10                      Mall of America         United States
11                              1 Utama              Malaysia
12                   SM City North EDSA           Philippines
13                        Global Harbor                 China
14                          SM Megamall           Philippines
15                 SM Seaside City Cebu           Philippines
16                 Persian Gulf Complex                  Iran
17                     The Avenues Mall                Kuwait
18                       Sunway Pyramid              Malaysia
19            New Century Global Center                 China
20                           Dream Mall                Taiwan
21                         Siam Paragon              Thailand
22                       Central Phuket              Thailand
23                     Festival Alabang           Philippines
24                     Lotte World Mall           South Korea
25                   Jamuna Future Park            Bangladesh
26                         Albrook Mall                Panama
27                    Mal Taman Anggrek             Indonesia
28            Fashion Island (Thailand)              Thailand
29                   West Edmonton Mall                Canada
30                       The Dubai Mall  United Arab Emirates
31                       Lucky One Mall              Pakistan
32                        Gandaria City             Indonesia
33                     Limketkai Center           Philippines
34                 Berjaya Times Square              Malaysia
35                     SM City Fairview           Philippines
36               The Grand Central Mall              Pakistan
37      Zhengjia Plaza (Grandview Mall)                 China
38                         Centro Mayor              Colombia
39           American Dream Meadowlands         United States
40  Haikou International Duty Free City                 China
41                         SM City Cebu           Philippines
42                 The Avenues, Bahrain               Bahrain
43                   Medan Centre Point             Indonesia
44                     Mal Artha Gading             Indonesia
45                       Mall of Arabia          Saudi Arabia
46                      King of Prussia         United States
47                       Greenwich Mall                Russia
48                      Tunjungan Plaza             Indonesia
49                        Emporium Mall              Pakistan
50                        Centro Sambil             Venezuela
51                        Aventura Mall         United States
52                            Glorietta           Philippines
53                            Greenbelt           Philippines
54                    South Coast Plaza         United States
55             Centro Comercial SantafÃ©              Colombia

In [35]:
type(df[['Mall','Country']])

pandas.core.frame.DataFrame

In [36]:
df.isnull()

,Rank,Mall,Country,City (metropolitan area),Year opened,Gross leasable area (GLA),Shops
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False
48,False,False,False,False,False,False,False
49,False,False,False,False,False,False,False
50,False,False,False,False,False,False,False
51,False,False,False,False,False,False,False
52,False,False,False,False,False,False,False
53,False,False,False,False,False,False,False
54,False,False,False,False,False,False,False
55,False,False,False,False,False,False,False

In [40]:
df.isnull().sum()

Rank                         0
Mall                         0
Country                      0
City (metropolitan area)     0
Year opened                  0
Gross leasable area (GLA)    0
Shops                        0
dtype: int64

In [41]:
df1=pd.read_csv(r"C:\Users\dell\Downloads\archive (4).zip")

In [42]:
df1

,Country,Year,Status,Population,Hepatitis B,Measles,Polio,Diphtheria,HIV/AIDS,infant deaths,under-five deaths,Total expenditure,GDP,BMI,thinness 1-19 years,Alcohol,Schooling,Life expectancy
0,Afghanistan,2015,Developing,33736494.0,65.0,1154,6.0,65.0,0.1,62,83,8.16,584.259210,19.1,17.2,0.01,10.1,65.0
1,Afghanistan,2014,Developing,327582.0,62.0,492,58.0,62.0,0.1,64,86,8.18,612.696514,18.6,17.5,0.01,10.0,59.9
2,Afghanistan,2013,Developing,31731688.0,64.0,430,62.0,64.0,0.1,66,89,8.13,631.744976,18.1,17.7,0.01,9.9,59.9
3,Afghanistan,2012,Developing,3696958.0,67.0,2787,67.0,67.0,0.1,69,93,8.52,669.959000,17.6,17.9,0.01,9.8,59.5
4,Afghanistan,2011,Developing,2978599.0,68.0,3013,68.0,68.0,0.1,71,97,7.87,63.537231,17.2,18.2,0.01,9.5,59.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2843,Zimbabwe,2004,Developing,12777511.0,68.0,31,67.0,65.0,33.6,27,42,7.13,454.366654,27.1,9.4,4.36,9.2,44.3
2844,Zimbabwe,2003,Developing,12633897.0,7.0,998,7.0,68.0,36.7,26,41,6.52,453.351155,26.7,9.8,4.06,9.5,44.5
2845,Zimbabwe,2002,Developing,125525.0,73.0,304,73.0,71.0,39.8,25,40,6.53,57.348340,26.3,1.2,4.43,10.0,44.8
2846,Zimbabwe,2001,Developing,12366165.0,76.0,529,76.0,75.0,42.1,25,39,6.16,548.587312,25.9,1.6,1.72,9.8,45.3
2847,Zimbabwe,2000,Developing,12222251.0,79.0,1483,78.0,78.0,43.5,24,39,7.10,547.358878,25.5,11.0,1.68,9.8,46.0

In [44]:
df1.isnull().sum()

Country                   0
Year                      0
Status                    0
Population              644
Hepatitis B             542
Measles                   0
Polio                    19
Diphtheria               19
HIV/AIDS                  0
infant deaths             0
under-five deaths         0
Total expenditure       221
GDP                     442
BMI                      32
thinness  1-19 years     32
Alcohol                 188
Schooling               160
Life expectancy           0
dtype: int64

In [45]:
df1["BMI"].fillna(18.6)

0       19.1
1       18.6
2       18.1
3       17.6
4       17.2
        ...
2843    27.1
2844    26.7
2845    26.3
2846    25.9
2847    25.5
Name: BMI, Length: 2848, dtype: float64

In [46]:
df1["BMI"].fillna(18.6,inplace=True)

In [47]:
df1

,Country,Year,Status,Population,Hepatitis B,Measles,Polio,Diphtheria,HIV/AIDS,infant deaths,under-five deaths,Total expenditure,GDP,BMI,thinness 1-19 years,Alcohol,Schooling,Life expectancy
0,Afghanistan,2015,Developing,33736494.0,65.0,1154,6.0,65.0,0.1,62,83,8.16,584.259210,19.1,17.2,0.01,10.1,65.0
1,Afghanistan,2014,Developing,327582.0,62.0,492,58.0,62.0,0.1,64,86,8.18,612.696514,18.6,17.5,0.01,10.0,59.9
2,Afghanistan,2013,Developing,31731688.0,64.0,430,62.0,64.0,0.1,66,89,8.13,631.744976,18.1,17.7,0.01,9.9,59.9
3,Afghanistan,2012,Developing,3696958.0,67.0,2787,67.0,67.0,0.1,69,93,8.52,669.959000,17.6,17.9,0.01,9.8,59.5
4,Afghanistan,2011,Developing,2978599.0,68.0,3013,68.0,68.0,0.1,71,97,7.87,63.537231,17.2,18.2,0.01,9.5,59.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2843,Zimbabwe,2004,Developing,12777511.0,68.0,31,67.0,65.0,33.6,27,42,7.13,454.366654,27.1,9.4,4.36,9.2,44.3
2844,Zimbabwe,2003,Developing,12633897.0,7.0,998,7.0,68.0,36.7,26,41,6.52,453.351155,26.7,9.8,4.06,9.5,44.5
2845,Zimbabwe,2002,Developing,125525.0,73.0,304,73.0,71.0,39.8,25,40,6.53,57.348340,26.3,1.2,4.43,10.0,44.8
2846,Zimbabwe,2001,Developing,12366165.0,76.0,529,76.0,75.0,42.1,25,39,6.16,548.587312,25.9,1.6,1.72,9.8,45.3
2847,Zimbabwe,2000,Developing,12222251.0,79.0,1483,78.0,78.0,43.5,24,39,7.10,547.358878,25.5,11.0,1.68,9.8,46.0

In [48]:
df1.isnull().sum()

Country                   0
Year                      0
Status                    0
Population              644
Hepatitis B             542
Measles                   0
Polio                    19
Diphtheria               19
HIV/AIDS                  0
infant deaths             0
under-five deaths         0
Total expenditure       221
GDP                     442
BMI                       0
thinness  1-19 years     32
Alcohol                 188
Schooling               160
Life expectancy           0
dtype: int64

In [49]:
#if i want to remove total expenditure column

In [51]:
df1.drop('Total expenditure',axis=1)

,Country,Year,Status,Population,Hepatitis B,Measles,Polio,Diphtheria,HIV/AIDS,infant deaths,under-five deaths,GDP,BMI,thinness 1-19 years,Alcohol,Schooling,Life expectancy
0,Afghanistan,2015,Developing,33736494.0,65.0,1154,6.0,65.0,0.1,62,83,584.259210,19.1,17.2,0.01,10.1,65.0
1,Afghanistan,2014,Developing,327582.0,62.0,492,58.0,62.0,0.1,64,86,612.696514,18.6,17.5,0.01,10.0,59.9
2,Afghanistan,2013,Developing,31731688.0,64.0,430,62.0,64.0,0.1,66,89,631.744976,18.1,17.7,0.01,9.9,59.9
3,Afghanistan,2012,Developing,3696958.0,67.0,2787,67.0,67.0,0.1,69,93,669.959000,17.6,17.9,0.01,9.8,59.5
4,Afghanistan,2011,Developing,2978599.0,68.0,3013,68.0,68.0,0.1,71,97,63.537231,17.2,18.2,0.01,9.5,59.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2843,Zimbabwe,2004,Developing,12777511.0,68.0,31,67.0,65.0,33.6,27,42,454.366654,27.1,9.4,4.36,9.2,44.3
2844,Zimbabwe,2003,Developing,12633897.0,7.0,998,7.0,68.0,36.7,26,41,453.351155,26.7,9.8,4.06,9.5,44.5
2845,Zimbabwe,2002,Developing,125525.0,73.0,304,73.0,71.0,39.8,25,40,57.348340,26.3,1.2,4.43,10.0,44.8
2846,Zimbabwe,2001,Developing,12366165.0,76.0,529,76.0,75.0,42.1,25,39,548.587312,25.9,1.6,1.72,9.8,45.3
2847,Zimbabwe,2000,Developing,12222251.0,79.0,1483,78.0,78.0,43.5,24,39,547.358878,25.5,11.0,1.68,9.8,46.0

In [54]:
df1.drop('Total expenditure',axis=1,inplace=True)

In [55]:
df1

,Country,Year,Status,Population,Hepatitis B,Measles,Polio,Diphtheria,HIV/AIDS,infant deaths,under-five deaths,GDP,BMI,thinness 1-19 years,Alcohol,Schooling,Life expectancy
0,Afghanistan,2015,Developing,33736494.0,65.0,1154,6.0,65.0,0.1,62,83,584.259210,19.1,17.2,0.01,10.1,65.0
1,Afghanistan,2014,Developing,327582.0,62.0,492,58.0,62.0,0.1,64,86,612.696514,18.6,17.5,0.01,10.0,59.9
2,Afghanistan,2013,Developing,31731688.0,64.0,430,62.0,64.0,0.1,66,89,631.744976,18.1,17.7,0.01,9.9,59.9
3,Afghanistan,2012,Developing,3696958.0,67.0,2787,67.0,67.0,0.1,69,93,669.959000,17.6,17.9,0.01,9.8,59.5
4,Afghanistan,2011,Developing,2978599.0,68.0,3013,68.0,68.0,0.1,71,97,63.537231,17.2,18.2,0.01,9.5,59.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2843,Zimbabwe,2004,Developing,12777511.0,68.0,31,67.0,65.0,33.6,27,42,454.366654,27.1,9.4,4.36,9.2,44.3
2844,Zimbabwe,2003,Developing,12633897.0,7.0,998,7.0,68.0,36.7,26,41,453.351155,26.7,9.8,4.06,9.5,44.5
2845,Zimbabwe,2002,Developing,125525.0,73.0,304,73.0,71.0,39.8,25,40,57.348340,26.3,1.2,4.43,10.0,44.8
2846,Zimbabwe,2001,Developing,12366165.0,76.0,529,76.0,75.0,42.1,25,39,548.587312,25.9,1.6,1.72,9.8,45.3
2847,Zimbabwe,2000,Developing,12222251.0,79.0,1483,78.0,78.0,43.5,24,39,547.358878,25.5,11.0,1.68,9.8,46.0

In [57]:
df=pd.read_csv(r"C:\Users\dell\Downloads\archive (3).zip")

In [58]:
df

,Rank,Mall,Country,City (metropolitan area),Year opened,Gross leasable area (GLA),Shops
0,1,Iran Mall,Iran,Tehran,2018,"1,950,000 m2 (21,000,000 sq ft)","2,500"
1,2,IOI City Mall,Malaysia,Putrajaya,2014,"821,000 m2 (8,840,000 sq ft)",650
2,3,South China Mall,China,Dongguan,2005,"659,612 m2 (7,100,000 sq ft)","2,350"
3,4,Isfahan City Center,Iran,Isfahan,2012,"650,000 m2 (7,000,000 sq ft)",350
4,5,SM Mall of Asia,Philippines,Pasay (Metro Manila),2006,"589,891 m2 (6,349,530 sq ft)","3,500"
5,6,SM Tianjin,China,Tianjin,2016,"565,000 m2 (6,080,000 sq ft)","1,000"
6,7,Golden Resources Mall,China,Beijing,2004,"557,419 m2 (6,000,010 sq ft)",750
7,8,Central WestGate,Thailand,Nonthaburi (Bangkok Metropolitan Region),2015,"550,278 m2 (5,923,140 sq ft)",500
8,9,CentralWorld,Thailand,Bangkok,1990,"550,000 m2 (5,900,000 sq ft)",600
9,10,ICONSIAM,Thailand,Bangkok,2018,"525,000 m2 (5,650,000 sq ft)",550
10,11,Mall of America,United States,"Bloomington, MN (Minneapolisâ€“Saint Paul)",1992,"520,257 m2 (5,600,000 sq ft)",520
11,12,1 Utama,Malaysia,Petaling Jaya,1995,"519,328 m2 (5,590,000 sq ft)",503
12,13,SM City North EDSA,Philippines,Quezon City (Metro Manila),1985,"497,213 m2 (5,351,960 sq ft)","1,000"
13,14,Global Harbor,China,Shanghai,2013,"480,000 m2 (5,200,000 sq ft)",450
14,15,SM Megamall,Philippines,Mandaluyong (Metro Manila),1991,"474,000 m2 (5,100,000 sq ft)","1,000"
15,16,SM Seaside City Cebu,Philippines,Cebu City,2015,"470,486 m2 (5,064,270 sq ft)",700
16,17,Persian Gulf Complex,Iran,Shiraz,2011,"450,000 m2 (4,800,000 sq ft)",355
17,18,The Avenues Mall,Kuwait,Al Rai,2007,"425,000 m2 (4,570,000 sq ft)",1100
18,19,Sunway Pyramid,Malaysia,Subang Jaya,1997,"400,000 m2 (4,300,000 sq ft)",1000
19,19,New Century Global Center,China,Chengdu,2013,"400,000 m2 (4,300,000 sq ft)","2,300"
20,19,Dream Mall,Taiwan,Kaohsiung,2007,"400,000 m2 (4,300,000 sq ft)",250
21,19,Siam Paragon,Thailand,Bangkok,2005,"400,000 m2 (4,300,000 sq ft)",200
22,19,Central Phuket,Thailand,Phuket,2004,"400,000 m2 (4,300,000 sq ft)",250
23,19,Festival Alabang,Philippines,Muntinlupa (Metro Manila),1998,"400,000 m2 (4,300,000 sq ft)",250
24,25,Lotte World Mall,South Korea,Seoul,2014,"383,470 m2 (4,127,600 sq ft)",200
25,26,Jamuna Future Park,Bangladesh,Dhaka,2013,"380,000 m2 (4,100,000 sq ft)",200
26,26,Albrook Mall,Panama,Panama City,2002,"380,000 m2 (4,100,000 sq ft)",200
27,28,Mal Taman Anggrek,Indonesia,Jakarta,1996,"360,000 m2 (3,900,000 sq ft)",150
28,29,Fashion Island (Thailand),Thailand,Bangkok,1995,"350,000 m2 (3,800,000 sq ft)",150
29,29,West Edmonton Mall,Canada,"Edmonton, Alberta",1981,"350,000 m2 (3,800,000 sq ft)",800
30,29,The Dubai Mall,United Arab Emirates,Dubai,2008,"350,000 m2 (3,800,000 sq ft)",400
31,32,Lucky One Mall,Pakistan,Karachi,2017,"340,000 m2 (3,700,000 sq ft)",200
32,33,Gandaria City,Indonesia,Jakarta,2010,"336,279 m2 (3,619,680 sq ft)",250
33,34,Limketkai Center,Philippines,Cagayan de Oro,1992,"320,000 m2 (3,400,000 sq ft)",250
34,34,Berjaya Times Square,Malaysia,Kuala Lumpur,2003,"320,000 m2 (3,400,000 sq ft)",200
35,36,SM City Fairview,Philippines,Quezon City (Metro Manila),1997,"312,749 m2 (3,366,400 sq ft)",350
36,37,The Grand Central Mall,Pakistan,Faisalabad,Under-Construction,"310,000 m2 (3,300,000 sq ft)",0
37,38,Zhengjia Plaza (Grandview Mall),China,Guangzhou,2005,"280,000 m2 (3,000,000 sq ft)",180
38,38,Centro Mayor,Colombia,Bogota,2010,"280,000 m2 (3,000,000 sq ft)",250
39,38,American Dream Meadowlands,United States,"East Rutherford, NJ (New York City area)",2019,"280,000 m2 (3,000,000 sq ft)",200
40,38,Haikou International Duty Free City,China,"Haikou, Hainan",2022,"280,000 m2 (3,000,000 sq ft)",200
41,42,SM City Cebu,Philippines,Cebu City,1993,"273,804 m2 (2,947,200 sq ft)",680
42,43,"The Avenues, Bahrain",Bahrain,Bahrain Bay,2017,"273,000 m2 (2,940,000 sq ft)",680
43,44,Medan Centre Point,Indonesia,Medan,2013,"270,000 m2 (2,900,000 sq ft)",680
44,44,Mal Artha Gading,Indonesia,Jakarta,2004,"270,000 m2 (2,900,000 sq ft)",330
45,46,Mall of Arabia,Saudi Arabia,Jeddah,2010,"261,000 m2 (2,810,000 sq ft)",187
46,47,King of Prussia,United States,King of Prussia (Philadelphia metropolitan area),1963,"259,500 m2 (2,793,000 sq ft)",200
47,48,Greenwich Mall,Russia,Ekaterinburg,2006,"258,673 m2 (2,784,330 sq ft)",250
48,49,Tunjungan Plaza,Indonesia,Surabaya,1986,"253,187 m2 (2,725,280 sq ft)",250
49,50,Emporium Mall,Pakistan,Lahore,2016,"250,000 m2 (2,700,000 sq ft)",200
50,50,Centro Sambil,Venezuela,Caracas,1998,"250,000 m2 (2,700,000 sq ft)",300
51,50,Aventura Mall,United States,Aventura (Miami area),1983,"250,000 m2 (2,700,000 sq ft)",300
52,50,Glorietta,Philippines,Makati (Metro Manila),1991,"250,000 m2 (2,700,000 sq ft)",300
53,50,Greenbelt,Philippines,Makati (Metro Manila),1991,"250,000 m2 (2,700,000 sq ft)",300
54,50,South Coast Plaza,United States,Costa Mesa (Greater Los Angeles),1967,"250,000 m2 (2,700,000 sq ft)",286
55,50,Centro Comercial SantafÃ©,Colombia,Bogota,2006,"250,000 m2 (2,700,000 sq ft)",150

In [59]:
df['Country'].unique()

array(['Iran', 'Malaysia', 'China', 'Philippines', 'Thailand',
       'United States', 'Kuwait', 'Taiwan', 'South Korea', 'Bangladesh',
       'Panama', 'Indonesia', 'Canada', 'United Arab Emirates',
       'Pakistan', 'Colombia', 'Bahrain', 'Saudi Arabia', 'Russia',
       'Venezuela'], dtype=object)

In [60]:
df[df['Country']=='Thailand']

,Rank,Mall,Country,City (metropolitan area),Year opened,Gross leasable area (GLA),Shops
7,8,Central WestGate,Thailand,Nonthaburi (Bangkok Metropolitan Region),2015,"550,278 m2 (5,923,140 sq ft)",500
8,9,CentralWorld,Thailand,Bangkok,1990,"550,000 m2 (5,900,000 sq ft)",600
9,10,ICONSIAM,Thailand,Bangkok,2018,"525,000 m2 (5,650,000 sq ft)",550
21,19,Siam Paragon,Thailand,Bangkok,2005,"400,000 m2 (4,300,000 sq ft)",200
22,19,Central Phuket,Thailand,Phuket,2004,"400,000 m2 (4,300,000 sq ft)",250
28,29,Fashion Island (Thailand),Thailand,Bangkok,1995,"350,000 m2 (3,800,000 sq ft)",150

In [61]:
df['Rank']==19

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18     True
19     True
20     True
21     True
22     True
23     True
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
Name: Rank, dtype: bool

In [62]:
df['Country'].min()

'Bahrain'

In [63]:
df['Country'].max()

'Venezuela'

In [64]:
df['Country'].sum()

'IranMalaysiaChinaIranPhilippinesChinaChinaThailandThailandThailandUnited StatesMalaysiaPhilippinesChinaPhilippinesPhilippinesIranKuwaitMalaysiaChinaTaiwanThailandThailandPhilippinesSouth KoreaBangladeshPanamaIndonesiaThailandCanadaUnited Arab EmiratesPakistanIndonesiaPhilippinesMalaysiaPhilippinesPakistanChinaColombiaUnited StatesChinaPhilippinesBahrainIndonesiaIndonesiaSaudi ArabiaUnited StatesRussiaIndonesiaPakistanVenezuelaUnited StatesPhilippinesPhilippinesUnited StatesColombia'

In [65]:
#if i want to slice the country column upto 20 records

In [66]:
df['Country'][:20]

0              Iran
1          Malaysia
2             China
3              Iran
4       Philippines
5             China
6             China
7          Thailand
8          Thailand
9          Thailand
10    United States
11         Malaysia
12      Philippines
13            China
14      Philippines
15      Philippines
16             Iran
17           Kuwait
18         Malaysia
19            China
Name: Country, dtype: object

In [67]:
df['Country'][:20:3]

0            Iran
3            Iran
6           China
9        Thailand
12    Philippines
15    Philippines
18       Malaysia
Name: Country, dtype: object

In [68]:
#if i want tonly object data types

In [69]:
df.dtypes=='object'

Rank                         False
Mall                          True
Country                       True
City (metropolitan area)      True
Year opened                   True
Gross leasable area (GLA)     True
Shops                         True
dtype: bool

In [70]:
df.dtypes[df.dtypes=='object']

Mall                         object
Country                      object
City (metropolitan area)     object
Year opened                  object
Gross leasable area (GLA)    object
Shops                        object
dtype: object

In [72]:
df[df.dtypes[df.dtypes=='object'].index]

,Mall,Country,City (metropolitan area),Year opened,Gross leasable area (GLA),Shops
0,Iran Mall,Iran,Tehran,2018,"1,950,000 m2 (21,000,000 sq ft)","2,500"
1,IOI City Mall,Malaysia,Putrajaya,2014,"821,000 m2 (8,840,000 sq ft)",650
2,South China Mall,China,Dongguan,2005,"659,612 m2 (7,100,000 sq ft)","2,350"
3,Isfahan City Center,Iran,Isfahan,2012,"650,000 m2 (7,000,000 sq ft)",350
4,SM Mall of Asia,Philippines,Pasay (Metro Manila),2006,"589,891 m2 (6,349,530 sq ft)","3,500"
5,SM Tianjin,China,Tianjin,2016,"565,000 m2 (6,080,000 sq ft)","1,000"
6,Golden Resources Mall,China,Beijing,2004,"557,419 m2 (6,000,010 sq ft)",750
7,Central WestGate,Thailand,Nonthaburi (Bangkok Metropolitan Region),2015,"550,278 m2 (5,923,140 sq ft)",500
8,CentralWorld,Thailand,Bangkok,1990,"550,000 m2 (5,900,000 sq ft)",600
9,ICONSIAM,Thailand,Bangkok,2018,"525,000 m2 (5,650,000 sq ft)",550
10,Mall of America,United States,"Bloomington, MN (Minneapolisâ€“Saint Paul)",1992,"520,257 m2 (5,600,000 sq ft)",520
11,1 Utama,Malaysia,Petaling Jaya,1995,"519,328 m2 (5,590,000 sq ft)",503
12,SM City North EDSA,Philippines,Quezon City (Metro Manila),1985,"497,213 m2 (5,351,960 sq ft)","1,000"
13,Global Harbor,China,Shanghai,2013,"480,000 m2 (5,200,000 sq ft)",450
14,SM Megamall,Philippines,Mandaluyong (Metro Manila),1991,"474,000 m2 (5,100,000 sq ft)","1,000"
15,SM Seaside City Cebu,Philippines,Cebu City,2015,"470,486 m2 (5,064,270 sq ft)",700
16,Persian Gulf Complex,Iran,Shiraz,2011,"450,000 m2 (4,800,000 sq ft)",355
17,The Avenues Mall,Kuwait,Al Rai,2007,"425,000 m2 (4,570,000 sq ft)",1100
18,Sunway Pyramid,Malaysia,Subang Jaya,1997,"400,000 m2 (4,300,000 sq ft)",1000
19,New Century Global Center,China,Chengdu,2013,"400,000 m2 (4,300,000 sq ft)","2,300"
20,Dream Mall,Taiwan,Kaohsiung,2007,"400,000 m2 (4,300,000 sq ft)",250
21,Siam Paragon,Thailand,Bangkok,2005,"400,000 m2 (4,300,000 sq ft)",200
22,Central Phuket,Thailand,Phuket,2004,"400,000 m2 (4,300,000 sq ft)",250
23,Festival Alabang,Philippines,Muntinlupa (Metro Manila),1998,"400,000 m2 (4,300,000 sq ft)",250
24,Lotte World Mall,South Korea,Seoul,2014,"383,470 m2 (4,127,600 sq ft)",200
25,Jamuna Future Park,Bangladesh,Dhaka,2013,"380,000 m2 (4,100,000 sq ft)",200
26,Albrook Mall,Panama,Panama City,2002,"380,000 m2 (4,100,000 sq ft)",200
27,Mal Taman Anggrek,Indonesia,Jakarta,1996,"360,000 m2 (3,900,000 sq ft)",150
28,Fashion Island (Thailand),Thailand,Bangkok,1995,"350,000 m2 (3,800,000 sq ft)",150
29,West Edmonton Mall,Canada,"Edmonton, Alberta",1981,"350,000 m2 (3,800,000 sq ft)",800
30,The Dubai Mall,United Arab Emirates,Dubai,2008,"350,000 m2 (3,800,000 sq ft)",400
31,Lucky One Mall,Pakistan,Karachi,2017,"340,000 m2 (3,700,000 sq ft)",200
32,Gandaria City,Indonesia,Jakarta,2010,"336,279 m2 (3,619,680 sq ft)",250
33,Limketkai Center,Philippines,Cagayan de Oro,1992,"320,000 m2 (3,400,000 sq ft)",250
34,Berjaya Times Square,Malaysia,Kuala Lumpur,2003,"320,000 m2 (3,400,000 sq ft)",200
35,SM City Fairview,Philippines,Quezon City (Metro Manila),1997,"312,749 m2 (3,366,400 sq ft)",350
36,The Grand Central Mall,Pakistan,Faisalabad,Under-Construction,"310,000 m2 (3,300,000 sq ft)",0
37,Zhengjia Plaza (Grandview Mall),China,Guangzhou,2005,"280,000 m2 (3,000,000 sq ft)",180
38,Centro Mayor,Colombia,Bogota,2010,"280,000 m2 (3,000,000 sq ft)",250
39,American Dream Meadowlands,United States,"East Rutherford, NJ (New York City area)",2019,"280,000 m2 (3,000,000 sq ft)",200
40,Haikou International Duty Free City,China,"Haikou, Hainan",2022,"280,000 m2 (3,000,000 sq ft)",200
41,SM City Cebu,Philippines,Cebu City,1993,"273,804 m2 (2,947,200 sq ft)",680
42,"The Avenues, Bahrain",Bahrain,Bahrain Bay,2017,"273,000 m2 (2,940,000 sq ft)",680
43,Medan Centre Point,Indonesia,Medan,2013,"270,000 m2 (2,900,000 sq ft)",680
44,Mal Artha Gading,Indonesia,Jakarta,2004,"270,000 m2 (2,900,000 sq ft)",330
45,Mall of Arabia,Saudi Arabia,Jeddah,2010,"261,000 m2 (2,810,000 sq ft)",187
46,King of Prussia,United States,King of Prussia (Philadelphia metropolitan area),1963,"259,500 m2 (2,793,000 sq ft)",200
47,Greenwich Mall,Russia,Ekaterinburg,2006,"258,673 m2 (2,784,330 sq ft)",250
48,Tunjungan Plaza,Indonesia,Surabaya,1986,"253,187 m2 (2,725,280 sq ft)",250
49,Emporium Mall,Pakistan,Lahore,2016,"250,000 m2 (2,700,000 sq ft)",200
50,Centro Sambil,Venezuela,Caracas,1998,"250,000 m2 (2,700,000 sq ft)",300
51,Aventura Mall,United States,Aventura (Miami area),1983,"250,000 m2 (2,700,000 sq ft)",300
52,Glorietta,Philippines,Makati (Metro Manila),1991,"250,000 m2 (2,700,000 sq ft)",300
53,Greenbelt,Philippines,Makati (Metro Manila),1991,"250,000 m2 (2,700,000 sq ft)",300
54,South Coast Plaza,United States,Costa Mesa (Greater Los Angeles),1967,"250,000 m2 (2,700,000 sq ft)",286
55,Centro Comercial SantafÃ©,Colombia,Bogota,2006,"250,000 m2 (2,700,000 sq ft)",150

In [73]:
#if  i want duplicate values

In [75]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
dtype: bool

In [77]:
df.duplicated().shape

(56,)

In [78]:
df.drop_duplicates().shape

(56, 7)

In [79]:
#if i want to convert one data type into another

In [80]:
df.Rank.astype("object")

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    19
20    19
21    19
22    19
23    19
24    25
25    26
26    26
27    28
28    29
29    29
30    29
31    32
32    33
33    34
34    34
35    36
36    37
37    38
38    38
39    38
40    38
41    42
42    43
43    44
44    44
45    46
46    47
47    48
48    49
49    50
50    50
51    50
52    50
53    50
54    50
55    50
Name: Rank, dtype: object

In [81]:
#if i want to add one more coloumn

In [83]:
df['Country1']="India"

In [84]:
df

,Rank,Mall,Country,City (metropolitan area),Year opened,Gross leasable area (GLA),Shops,Country1
0,1,Iran Mall,Iran,Tehran,2018,"1,950,000 m2 (21,000,000 sq ft)","2,500",India
1,2,IOI City Mall,Malaysia,Putrajaya,2014,"821,000 m2 (8,840,000 sq ft)",650,India
2,3,South China Mall,China,Dongguan,2005,"659,612 m2 (7,100,000 sq ft)","2,350",India
3,4,Isfahan City Center,Iran,Isfahan,2012,"650,000 m2 (7,000,000 sq ft)",350,India
4,5,SM Mall of Asia,Philippines,Pasay (Metro Manila),2006,"589,891 m2 (6,349,530 sq ft)","3,500",India
5,6,SM Tianjin,China,Tianjin,2016,"565,000 m2 (6,080,000 sq ft)","1,000",India
6,7,Golden Resources Mall,China,Beijing,2004,"557,419 m2 (6,000,010 sq ft)",750,India
7,8,Central WestGate,Thailand,Nonthaburi (Bangkok Metropolitan Region),2015,"550,278 m2 (5,923,140 sq ft)",500,India
8,9,CentralWorld,Thailand,Bangkok,1990,"550,000 m2 (5,900,000 sq ft)",600,India
9,10,ICONSIAM,Thailand,Bangkok,2018,"525,000 m2 (5,650,000 sq ft)",550,India
10,11,Mall of America,United States,"Bloomington, MN (Minneapolisâ€“Saint Paul)",1992,"520,257 m2 (5,600,000 sq ft)",520,India
11,12,1 Utama,Malaysia,Petaling Jaya,1995,"519,328 m2 (5,590,000 sq ft)",503,India
12,13,SM City North EDSA,Philippines,Quezon City (Metro Manila),1985,"497,213 m2 (5,351,960 sq ft)","1,000",India
13,14,Global Harbor,China,Shanghai,2013,"480,000 m2 (5,200,000 sq ft)",450,India
14,15,SM Megamall,Philippines,Mandaluyong (Metro Manila),1991,"474,000 m2 (5,100,000 sq ft)","1,000",India
15,16,SM Seaside City Cebu,Philippines,Cebu City,2015,"470,486 m2 (5,064,270 sq ft)",700,India
16,17,Persian Gulf Complex,Iran,Shiraz,2011,"450,000 m2 (4,800,000 sq ft)",355,India
17,18,The Avenues Mall,Kuwait,Al Rai,2007,"425,000 m2 (4,570,000 sq ft)",1100,India
18,19,Sunway Pyramid,Malaysia,Subang Jaya,1997,"400,000 m2 (4,300,000 sq ft)",1000,India
19,19,New Century Global Center,China,Chengdu,2013,"400,000 m2 (4,300,000 sq ft)","2,300",India
20,19,Dream Mall,Taiwan,Kaohsiung,2007,"400,000 m2 (4,300,000 sq ft)",250,India
21,19,Siam Paragon,Thailand,Bangkok,2005,"400,000 m2 (4,300,000 sq ft)",200,India
22,19,Central Phuket,Thailand,Phuket,2004,"400,000 m2 (4,300,000 sq ft)",250,India
23,19,Festival Alabang,Philippines,Muntinlupa (Metro Manila),1998,"400,000 m2 (4,300,000 sq ft)",250,India
24,25,Lotte World Mall,South Korea,Seoul,2014,"383,470 m2 (4,127,600 sq ft)",200,India
25,26,Jamuna Future Park,Bangladesh,Dhaka,2013,"380,000 m2 (4,100,000 sq ft)",200,India
26,26,Albrook Mall,Panama,Panama City,2002,"380,000 m2 (4,100,000 sq ft)",200,India
27,28,Mal Taman Anggrek,Indonesia,Jakarta,1996,"360,000 m2 (3,900,000 sq ft)",150,India
28,29,Fashion Island (Thailand),Thailand,Bangkok,1995,"350,000 m2 (3,800,000 sq ft)",150,India
29,29,West Edmonton Mall,Canada,"Edmonton, Alberta",1981,"350,000 m2 (3,800,000 sq ft)",800,India
30,29,The Dubai Mall,United Arab Emirates,Dubai,2008,"350,000 m2 (3,800,000 sq ft)",400,India
31,32,Lucky One Mall,Pakistan,Karachi,2017,"340,000 m2 (3,700,000 sq ft)",200,India
32,33,Gandaria City,Indonesia,Jakarta,2010,"336,279 m2 (3,619,680 sq ft)",250,India
33,34,Limketkai Center,Philippines,Cagayan de Oro,1992,"320,000 m2 (3,400,000 sq ft)",250,India
34,34,Berjaya Times Square,Malaysia,Kuala Lumpur,2003,"320,000 m2 (3,400,000 sq ft)",200,India
35,36,SM City Fairview,Philippines,Quezon City (Metro Manila),1997,"312,749 m2 (3,366,400 sq ft)",350,India
36,37,The Grand Central Mall,Pakistan,Faisalabad,Under-Construction,"310,000 m2 (3,300,000 sq ft)",0,India
37,38,Zhengjia Plaza (Grandview Mall),China,Guangzhou,2005,"280,000 m2 (3,000,000 sq ft)",180,India
38,38,Centro Mayor,Colombia,Bogota,2010,"280,000 m2 (3,000,000 sq ft)",250,India
39,38,American Dream Meadowlands,United States,"East Rutherford, NJ (New York City area)",2019,"280,000 m2 (3,000,000 sq ft)",200,India
40,38,Haikou International Duty Free City,China,"Haikou, Hainan",2022,"280,000 m2 (3,000,000 sq ft)",200,India
41,42,SM City Cebu,Philippines,Cebu City,1993,"273,804 m2 (2,947,200 sq ft)",680,India
42,43,"The Avenues, Bahrain",Bahrain,Bahrain Bay,2017,"273,000 m2 (2,940,000 sq ft)",680,India
43,44,Medan Centre Point,Indonesia,Medan,2013,"270,000 m2 (2,900,000 sq ft)",680,India
44,44,Mal Artha Gading,Indonesia,Jakarta,2004,"270,000 m2 (2,900,000 sq ft)",330,India
45,46,Mall of Arabia,Saudi Arabia,Jeddah,2010,"261,000 m2 (2,810,000 sq ft)",187,India
46,47,King of Prussia,United States,King of Prussia (Philadelphia metropolitan area),1963,"259,500 m2 (2,793,000 sq ft)",200,India
47,48,Greenwich Mall,Russia,Ekaterinburg,2006,"258,673 m2 (2,784,330 sq ft)",250,India
48,49,Tunjungan Plaza,Indonesia,Surabaya,1986,"253,187 m2 (2,725,280 sq ft)",250,India
49,50,Emporium Mall,Pakistan,Lahore,2016,"250,000 m2 (2,700,000 sq ft)",200,India
50,50,Centro Sambil,Venezuela,Caracas,1998,"250,000 m2 (2,700,000 sq ft)",300,India
51,50,Aventura Mall,United States,Aventura (Miami area),1983,"250,000 m2 (2,700,000 sq ft)",300,India
52,50,Glorietta,Philippines,Makati (Metro Manila),1991,"250,000 m2 (2,700,000 sq ft)",300,India
53,50,Greenbelt,Philippines,Makati (Metro Manila),1991,"250,000 m2 (2,700,000 sq ft)",300,India
54,50,South Coast Plaza,United States,Costa Mesa (Greater Los Angeles),1967,"250,000 m2 (2,700,000 sq ft)",286,India
55,50,Centro Comercial SantafÃ©,Colombia,Bogota,2006,"250,000 m2 (2,700,000 sq ft)",150,India

In [103]:
df=df.groupby("Mall")

In [104]:
for i,j in df:
    print(i)
    print(j)
    print( )

1 Utama
    Rank     Mall   Country City (metropolitan area) Year opened  \
11    12  1 Utama  Malaysia            Petaling Jaya        1995

       Gross leasable area (GLA) Shops Country1
11  519,328 m2 (5,590,000 sq ft)   503    India

Albrook Mall
    Rank          Mall Country City (metropolitan area) Year opened  \
26    26  Albrook Mall  Panama              Panama City        2002

       Gross leasable area (GLA) Shops Country1
26  380,000 m2 (4,100,000 sq ft)   200    India

American Dream Meadowlands
    Rank                        Mall        Country  \
39    38  American Dream Meadowlands  United States

                    City (metropolitan area) Year opened  \
39  East Rutherford, NJ (New York City area)        2019

       Gross leasable area (GLA) Shops Country1
39  280,000 m2 (3,000,000 sq ft)   200    India

Aventura Mall
    Rank           Mall        Country City (metropolitan area) Year opened  \
51    50  Aventura Mall  United States    Aventura (Miami area)        1983

       Gross leasable area (GLA) Shops Country1
51  250,000 m2 (2,700,000 sq ft)   300    India

Berjaya Times Square
    Rank                  Mall   Country City (metropolitan area) Year opened  \
34    34  Berjaya Times Square  Malaysia             Kuala Lumpur        2003

       Gross leasable area (GLA) Shops Country1
34  320,000 m2 (3,400,000 sq ft)   200    India

Central Phuket
    Rank            Mall   Country City (metropolitan area) Year opened  \
22    19  Central Phuket  Thailand                   Phuket        2004

       Gross leasable area (GLA) Shops Country1
22  400,000 m2 (4,300,000 sq ft)   250    India

Central WestGate
   Rank              Mall   Country                  City (metropolitan area)  \
7     8  Central WestGate  Thailand  Nonthaburi (Bangkok Metropolitan Region)

  Year opened     Gross leasable area (GLA) Shops Country1
7        2015  550,278 m2 (5,923,140 sq ft)   500    India

CentralWorld
   Rank          Mall   Country City (metropolitan area) Year opened  \
8     9  CentralWorld  Thailand                  Bangkok        1990

      Gross leasable area (GLA) Shops Country1
8  550,000 m2 (5,900,000 sq ft)   600    India

Centro Comercial SantafÃ©
    Rank                      Mall   Country City (metropolitan area)  \
55    50  Centro Comercial SantafÃ©  Colombia                   Bogota

   Year opened     Gross leasable area (GLA) Shops Country1
55        2006  250,000 m2 (2,700,000 sq ft)   150    India

Centro Mayor
    Rank          Mall   Country City (metropolitan area) Year opened  \
38    38  Centro Mayor  Colombia                   Bogota        2010

       Gross leasable area (GLA) Shops Country1
38  280,000 m2 (3,000,000 sq ft)   250    India

Centro Sambil
    Rank           Mall    Country City (metropolitan area) Year opened  \
50    50  Centro Sambil  Venezuela                  Caracas        1998

       Gross leasable area (GLA) Shops Country1
50  250,000 m2 (2,700,000 sq ft)   300    India

Dream Mall
    Rank        Mall Country City (metropolitan area) Year opened  \
20    19  Dream Mall  Taiwan                Kaohsiung        2007

       Gross leasable area (GLA) Shops Country1
20  400,000 m2 (4,300,000 sq ft)   250    India

Emporium Mall
    Rank           Mall   Country City (metropolitan area) Year opened  \
49    50  Emporium Mall  Pakistan                   Lahore        2016

       Gross leasable area (GLA) Shops Country1
49  250,000 m2 (2,700,000 sq ft)   200    India

Fashion Island (Thailand)
    Rank                       Mall   Country City (metropolitan area)  \
28    29  Fashion Island (Thailand)  Thailand                  Bangkok

   Year opened     Gross leasable area (GLA) Shops Country1
28        1995  350,000 m2 (3,800,000 sq ft)   150    India

Festival Alabang
    Rank              Mall      Country   City (metropolitan area)  \
23    19  Festival Alabang  Philippines  Muntinlupa (Metro Manila)

   Year opened     Gross leasable area (GLA) Shops Country1
23        1998  400,000 m2 (4,300,000 sq ft)   250    India

Gandaria City
    Rank           Mall    Country City (metropolitan area) Year opened  \
32    33  Gandaria City  Indonesia                  Jakarta        2010

       Gross leasable area (GLA) Shops Country1
32  336,279 m2 (3,619,680 sq ft)   250    India

Global Harbor
    Rank           Mall Country City (metropolitan area) Year opened  \
13    14  Global Harbor   China                 Shanghai        2013

       Gross leasable area (GLA) Shops Country1
13  480,000 m2 (5,200,000 sq ft)   450    India

Glorietta
    Rank       Mall      Country City (metropolitan area) Year opened  \
52    50  Glorietta  Philippines    Makati (Metro Manila)        1991

       Gross leasable area (GLA) Shops Country1
52  250,000 m2 (2,700,000 sq ft)   300    India

Golden Resources Mall
   Rank                   Mall Country City (metropolitan area) Year opened  \
6     7  Golden Resources Mall   China                  Beijing        2004

      Gross leasable area (GLA) Shops Country1
6  557,419 m2 (6,000,010 sq ft)   750    India

Greenbelt
    Rank       Mall      Country City (metropolitan area) Year opened  \
53    50  Greenbelt  Philippines    Makati (Metro Manila)        1991

       Gross leasable area (GLA) Shops Country1
53  250,000 m2 (2,700,000 sq ft)   300    India

Greenwich Mall
    Rank            Mall Country City (metropolitan area) Year opened  \
47    48  Greenwich Mall  Russia             Ekaterinburg        2006

       Gross leasable area (GLA) Shops Country1
47  258,673 m2 (2,784,330 sq ft)   250    India

Haikou International Duty Free City
    Rank                                 Mall Country  \
40    38  Haikou International Duty Free City   China

   City (metropolitan area) Year opened     Gross leasable area (GLA) Shops  \
40           Haikou, Hainan        2022  280,000 m2 (3,000,000 sq ft)   200

   Country1
40    India

ICONSIAM
   Rank      Mall   Country City (metropolitan area) Year opened  \
9    10  ICONSIAM  Thailand                  Bangkok        2018

      Gross leasable area (GLA) Shops Country1
9  525,000 m2 (5,650,000 sq ft)   550    India

IOI City Mall
   Rank           Mall   Country City (metropolitan area) Year opened  \
1     2  IOI City Mall  Malaysia                Putrajaya        2014

      Gross leasable area (GLA) Shops Country1
1  821,000 m2 (8,840,000 sq ft)   650    India

Iran Mall
   Rank       Mall Country City (metropolitan area) Year opened  \
0     1  Iran Mall    Iran                   Tehran        2018

         Gross leasable area (GLA)  Shops Country1
0  1,950,000 m2 (21,000,000 sq ft)  2,500    India

Isfahan City Center
   Rank                 Mall Country City (metropolitan area) Year opened  \
3     4  Isfahan City Center    Iran                  Isfahan        2012

      Gross leasable area (GLA) Shops Country1
3  650,000 m2 (7,000,000 sq ft)   350    India

Jamuna Future Park
    Rank                Mall     Country City (metropolitan area) Year opened  \
25    26  Jamuna Future Park  Bangladesh                    Dhaka        2013

       Gross leasable area (GLA) Shops Country1
25  380,000 m2 (4,100,000 sq ft)   200    India

King of Prussia
    Rank             Mall        Country  \
46    47  King of Prussia  United States

                            City (metropolitan area) Year opened  \
46  King of Prussia (Philadelphia metropolitan area)        1963

       Gross leasable area (GLA) Shops Country1
46  259,500 m2 (2,793,000 sq ft)   200    India

Limketkai Center
    Rank              Mall      Country City (metropolitan area) Year opened  \
33    34  Limketkai Center  Philippines           Cagayan de Oro        1992

       Gross leasable area (GLA) Shops Country1
33  320,000 m2 (3,400,000 sq ft)   250    India

Lotte World Mall
    Rank              Mall      Country City (metropolitan area) Year opened  \
24    25  Lotte World Mall  South Korea                    Seoul        2014

       Gross leasable area (GLA) Shops Country1
24  383,470 m2 (4,127,600 sq ft)   200    India

Lucky One Mall
    Rank            Mall   Country City (metropolitan area) Year opened  \
31    32  Lucky One Mall  Pakistan                  Karachi        2017

       Gross leasable area (GLA) Shops Country1
31  340,000 m2 (3,700,000 sq ft)   200    India

Mal Artha Gading
    Rank              Mall    Country City (metropolitan area) Year opened  \
44    44  Mal Artha Gading  Indonesia                  Jakarta        2004

       Gross leasable area (GLA) Shops Country1
44  270,000 m2 (2,900,000 sq ft)   330    India

Mal Taman Anggrek
    Rank               Mall    Country City (metropolitan area) Year opened  \
27    28  Mal Taman Anggrek  Indonesia                  Jakarta        1996

       Gross leasable area (GLA) Shops Country1
27  360,000 m2 (3,900,000 sq ft)   150    India

Mall of America
    Rank             Mall        Country  \
10    11  Mall of America  United States

                    City (metropolitan area) Year opened  \
10  Bloomington, MN (Minneapolisâ€“Saint Paul)        1992

       Gross leasable area (GLA) Shops Country1
10  520,257 m2 (5,600,000 sq ft)   520    India

Mall of Arabia
    Rank            Mall       Country City (metropolitan area) Year opened  \
45    46  Mall of Arabia  Saudi Arabia                   Jeddah        2010

       Gross leasable area (GLA) Shops Country1
45  261,000 m2 (2,810,000 sq ft)   187    India

Medan Centre Point
    Rank                Mall    Country City (metropolitan area) Year opened  \
43    44  Medan Centre Point  Indonesia                    Medan        2013

       Gross leasable area (GLA) Shops Country1
43  270,000 m2 (2,900,000 sq ft)   680    India

New Century Global Center
    Rank                       Mall Country City (metropolitan area)  \
19    19  New Century Global Center   China                  Chengdu

   Year opened     Gross leasable area (GLA)  Shops Country1
19        2013  400,000 m2 (4,300,000 sq ft)  2,300    India

Persian Gulf Complex
    Rank                  Mall Country City (metropolitan area) Year opened  \
16    17  Persian Gulf Complex    Iran                   Shiraz        2011

       Gross leasable area (GLA) Shops Country1
16  450,000 m2 (4,800,000 sq ft)   355    India

SM City Cebu
    Rank          Mall      Country City (metropolitan area) Year opened  \
41    42  SM City Cebu  Philippines                Cebu City        1993

       Gross leasable area (GLA) Shops Country1
41  273,804 m2 (2,947,200 sq ft)   680    India

SM City Fairview
    Rank              Mall      Country    City (metropolitan area)  \
35    36  SM City Fairview  Philippines  Quezon City (Metro Manila)

   Year opened     Gross leasable area (GLA) Shops Country1
35        1997  312,749 m2 (3,366,400 sq ft)   350    India

SM City North EDSA
    Rank                Mall      Country    City (metropolitan area)  \
12    13  SM City North EDSA  Philippines  Quezon City (Metro Manila)

   Year opened     Gross leasable area (GLA)  Shops Country1
12        1985  497,213 m2 (5,351,960 sq ft)  1,000    India

SM Mall of Asia
   Rank             Mall      Country City (metropolitan area) Year opened  \
4     5  SM Mall of Asia  Philippines     Pasay (Metro Manila)        2006

      Gross leasable area (GLA)  Shops Country1
4  589,891 m2 (6,349,530 sq ft)  3,500    India

SM Megamall
    Rank         Mall      Country    City (metropolitan area) Year opened  \
14    15  SM Megamall  Philippines  Mandaluyong (Metro Manila)        1991

       Gross leasable area (GLA)  Shops Country1
14  474,000 m2 (5,100,000 sq ft)  1,000    India

SM Seaside City Cebu
    Rank                  Mall      Country City (metropolitan area)  \
15    16  SM Seaside City Cebu  Philippines                Cebu City

   Year opened     Gross leasable area (GLA) Shops Country1
15        2015  470,486 m2 (5,064,270 sq ft)   700    India

SM Tianjin
   Rank        Mall Country City (metropolitan area) Year opened  \
5     6  SM Tianjin   China                  Tianjin        2016

      Gross leasable area (GLA)  Shops Country1
5  565,000 m2 (6,080,000 sq ft)  1,000    India

Siam Paragon
    Rank          Mall   Country City (metropolitan area) Year opened  \
21    19  Siam Paragon  Thailand                  Bangkok        2005

       Gross leasable area (GLA) Shops Country1
21  400,000 m2 (4,300,000 sq ft)   200    India

South China Mall
   Rank              Mall Country City (metropolitan area) Year opened  \
2     3  South China Mall   China                 Dongguan        2005

      Gross leasable area (GLA)  Shops Country1
2  659,612 m2 (7,100,000 sq ft)  2,350    India

South Coast Plaza
    Rank               Mall        Country          City (metropolitan area)  \
54    50  South Coast Plaza  United States  Costa Mesa (Greater Los Angeles)

   Year opened     Gross leasable area (GLA) Shops Country1
54        1967  250,000 m2 (2,700,000 sq ft)   286    India

Sunway Pyramid
    Rank            Mall   Country City (metropolitan area) Year opened  \
18    19  Sunway Pyramid  Malaysia              Subang Jaya        1997

       Gross leasable area (GLA) Shops Country1
18  400,000 m2 (4,300,000 sq ft)  1000    India

The Avenues Mall
    Rank              Mall Country City (metropolitan area) Year opened  \
17    18  The Avenues Mall  Kuwait                   Al Rai        2007

       Gross leasable area (GLA) Shops Country1
17  425,000 m2 (4,570,000 sq ft)  1100    India

The Avenues, Bahrain
    Rank                  Mall  Country City (metropolitan area) Year opened  \
42    43  The Avenues, Bahrain  Bahrain              Bahrain Bay        2017

       Gross leasable area (GLA) Shops Country1
42  273,000 m2 (2,940,000 sq ft)   680    India

The Dubai Mall
    Rank            Mall               Country City (metropolitan area)  \
30    29  The Dubai Mall  United Arab Emirates                    Dubai

   Year opened     Gross leasable area (GLA) Shops Country1
30        2008  350,000 m2 (3,800,000 sq ft)   400    India

The Grand Central Mall
    Rank                    Mall   Country City (metropolitan area)  \
36    37  The Grand Central Mall  Pakistan               Faisalabad

           Year opened     Gross leasable area (GLA) Shops Country1
36  Under-Construction  310,000 m2 (3,300,000 sq ft)     0    India

Tunjungan Plaza
    Rank             Mall    Country City (metropolitan area) Year opened  \
48    49  Tunjungan Plaza  Indonesia                 Surabaya        1986

       Gross leasable area (GLA) Shops Country1
48  253,187 m2 (2,725,280 sq ft)   250    India

West Edmonton Mall
    Rank                Mall Country City (metropolitan area) Year opened  \
29    29  West Edmonton Mall  Canada        Edmonton, Alberta        1981

       Gross leasable area (GLA) Shops Country1
29  350,000 m2 (3,800,000 sq ft)   800    India

Zhengjia Plaza (Grandview Mall)
    Rank                             Mall Country City (metropolitan area)  \
37    38  Zhengjia Plaza (Grandview Mall)   China                Guangzhou

   Year opened     Gross leasable area (GLA) Shops Country1
37        2005  280,000 m2 (3,000,000 sq ft)   180    India

In [108]:
df=pd.read_csv(r"C:\Users\dell\Downloads\archive (3).zip")

In [109]:
df

,Rank,Mall,Country,City (metropolitan area),Year opened,Gross leasable area (GLA),Shops
0,1,Iran Mall,Iran,Tehran,2018,"1,950,000 m2 (21,000,000 sq ft)","2,500"
1,2,IOI City Mall,Malaysia,Putrajaya,2014,"821,000 m2 (8,840,000 sq ft)",650
2,3,South China Mall,China,Dongguan,2005,"659,612 m2 (7,100,000 sq ft)","2,350"
3,4,Isfahan City Center,Iran,Isfahan,2012,"650,000 m2 (7,000,000 sq ft)",350
4,5,SM Mall of Asia,Philippines,Pasay (Metro Manila),2006,"589,891 m2 (6,349,530 sq ft)","3,500"
5,6,SM Tianjin,China,Tianjin,2016,"565,000 m2 (6,080,000 sq ft)","1,000"
6,7,Golden Resources Mall,China,Beijing,2004,"557,419 m2 (6,000,010 sq ft)",750
7,8,Central WestGate,Thailand,Nonthaburi (Bangkok Metropolitan Region),2015,"550,278 m2 (5,923,140 sq ft)",500
8,9,CentralWorld,Thailand,Bangkok,1990,"550,000 m2 (5,900,000 sq ft)",600
9,10,ICONSIAM,Thailand,Bangkok,2018,"525,000 m2 (5,650,000 sq ft)",550
10,11,Mall of America,United States,"Bloomington, MN (Minneapolisâ€“Saint Paul)",1992,"520,257 m2 (5,600,000 sq ft)",520
11,12,1 Utama,Malaysia,Petaling Jaya,1995,"519,328 m2 (5,590,000 sq ft)",503
12,13,SM City North EDSA,Philippines,Quezon City (Metro Manila),1985,"497,213 m2 (5,351,960 sq ft)","1,000"
13,14,Global Harbor,China,Shanghai,2013,"480,000 m2 (5,200,000 sq ft)",450
14,15,SM Megamall,Philippines,Mandaluyong (Metro Manila),1991,"474,000 m2 (5,100,000 sq ft)","1,000"
15,16,SM Seaside City Cebu,Philippines,Cebu City,2015,"470,486 m2 (5,064,270 sq ft)",700
16,17,Persian Gulf Complex,Iran,Shiraz,2011,"450,000 m2 (4,800,000 sq ft)",355
17,18,The Avenues Mall,Kuwait,Al Rai,2007,"425,000 m2 (4,570,000 sq ft)",1100
18,19,Sunway Pyramid,Malaysia,Subang Jaya,1997,"400,000 m2 (4,300,000 sq ft)",1000
19,19,New Century Global Center,China,Chengdu,2013,"400,000 m2 (4,300,000 sq ft)","2,300"
20,19,Dream Mall,Taiwan,Kaohsiung,2007,"400,000 m2 (4,300,000 sq ft)",250
21,19,Siam Paragon,Thailand,Bangkok,2005,"400,000 m2 (4,300,000 sq ft)",200
22,19,Central Phuket,Thailand,Phuket,2004,"400,000 m2 (4,300,000 sq ft)",250
23,19,Festival Alabang,Philippines,Muntinlupa (Metro Manila),1998,"400,000 m2 (4,300,000 sq ft)",250
24,25,Lotte World Mall,South Korea,Seoul,2014,"383,470 m2 (4,127,600 sq ft)",200
25,26,Jamuna Future Park,Bangladesh,Dhaka,2013,"380,000 m2 (4,100,000 sq ft)",200
26,26,Albrook Mall,Panama,Panama City,2002,"380,000 m2 (4,100,000 sq ft)",200
27,28,Mal Taman Anggrek,Indonesia,Jakarta,1996,"360,000 m2 (3,900,000 sq ft)",150
28,29,Fashion Island (Thailand),Thailand,Bangkok,1995,"350,000 m2 (3,800,000 sq ft)",150
29,29,West Edmonton Mall,Canada,"Edmonton, Alberta",1981,"350,000 m2 (3,800,000 sq ft)",800
30,29,The Dubai Mall,United Arab Emirates,Dubai,2008,"350,000 m2 (3,800,000 sq ft)",400
31,32,Lucky One Mall,Pakistan,Karachi,2017,"340,000 m2 (3,700,000 sq ft)",200
32,33,Gandaria City,Indonesia,Jakarta,2010,"336,279 m2 (3,619,680 sq ft)",250
33,34,Limketkai Center,Philippines,Cagayan de Oro,1992,"320,000 m2 (3,400,000 sq ft)",250
34,34,Berjaya Times Square,Malaysia,Kuala Lumpur,2003,"320,000 m2 (3,400,000 sq ft)",200
35,36,SM City Fairview,Philippines,Quezon City (Metro Manila),1997,"312,749 m2 (3,366,400 sq ft)",350
36,37,The Grand Central Mall,Pakistan,Faisalabad,Under-Construction,"310,000 m2 (3,300,000 sq ft)",0
37,38,Zhengjia Plaza (Grandview Mall),China,Guangzhou,2005,"280,000 m2 (3,000,000 sq ft)",180
38,38,Centro Mayor,Colombia,Bogota,2010,"280,000 m2 (3,000,000 sq ft)",250
39,38,American Dream Meadowlands,United States,"East Rutherford, NJ (New York City area)",2019,"280,000 m2 (3,000,000 sq ft)",200
40,38,Haikou International Duty Free City,China,"Haikou, Hainan",2022,"280,000 m2 (3,000,000 sq ft)",200
41,42,SM City Cebu,Philippines,Cebu City,1993,"273,804 m2 (2,947,200 sq ft)",680
42,43,"The Avenues, Bahrain",Bahrain,Bahrain Bay,2017,"273,000 m2 (2,940,000 sq ft)",680
43,44,Medan Centre Point,Indonesia,Medan,2013,"270,000 m2 (2,900,000 sq ft)",680
44,44,Mal Artha Gading,Indonesia,Jakarta,2004,"270,000 m2 (2,900,000 sq ft)",330
45,46,Mall of Arabia,Saudi Arabia,Jeddah,2010,"261,000 m2 (2,810,000 sq ft)",187
46,47,King of Prussia,United States,King of Prussia (Philadelphia metropolitan area),1963,"259,500 m2 (2,793,000 sq ft)",200
47,48,Greenwich Mall,Russia,Ekaterinburg,2006,"258,673 m2 (2,784,330 sq ft)",250
48,49,Tunjungan Plaza,Indonesia,Surabaya,1986,"253,187 m2 (2,725,280 sq ft)",250
49,50,Emporium Mall,Pakistan,Lahore,2016,"250,000 m2 (2,700,000 sq ft)",200
50,50,Centro Sambil,Venezuela,Caracas,1998,"250,000 m2 (2,700,000 sq ft)",300
51,50,Aventura Mall,United States,Aventura (Miami area),1983,"250,000 m2 (2,700,000 sq ft)",300
52,50,Glorietta,Philippines,Makati (Metro Manila),1991,"250,000 m2 (2,700,000 sq ft)",300
53,50,Greenbelt,Philippines,Makati (Metro Manila),1991,"250,000 m2 (2,700,000 sq ft)",300
54,50,South Coast Plaza,United States,Costa Mesa (Greater Los Angeles),1967,"250,000 m2 (2,700,000 sq ft)",286
55,50,Centro Comercial SantafÃ©,Colombia,Bogota,2006,"250,000 m2 (2,700,000 sq ft)",150

In [110]:
df[df.Country=='Thailand']

,Rank,Mall,Country,City (metropolitan area),Year opened,Gross leasable area (GLA),Shops
7,8,Central WestGate,Thailand,Nonthaburi (Bangkok Metropolitan Region),2015,"550,278 m2 (5,923,140 sq ft)",500
8,9,CentralWorld,Thailand,Bangkok,1990,"550,000 m2 (5,900,000 sq ft)",600
9,10,ICONSIAM,Thailand,Bangkok,2018,"525,000 m2 (5,650,000 sq ft)",550
21,19,Siam Paragon,Thailand,Bangkok,2005,"400,000 m2 (4,300,000 sq ft)",200
22,19,Central Phuket,Thailand,Phuket,2004,"400,000 m2 (4,300,000 sq ft)",250
28,29,Fashion Island (Thailand),Thailand,Bangkok,1995,"350,000 m2 (3,800,000 sq ft)",150

In [115]:
df=df.groupby("Country")
df.first()

,Rank,Mall,City (metropolitan area),Year opened,Gross leasable area (GLA),Shops
Country,,,,,,
Bahrain,43,"The Avenues, Bahrain",Bahrain Bay,2017,"273,000 m2 (2,940,000 sq ft)",680
Bangladesh,26,Jamuna Future Park,Dhaka,2013,"380,000 m2 (4,100,000 sq ft)",200
Canada,29,West Edmonton Mall,"Edmonton, Alberta",1981,"350,000 m2 (3,800,000 sq ft)",800
China,3,South China Mall,Dongguan,2005,"659,612 m2 (7,100,000 sq ft)","2,350"
Colombia,38,Centro Mayor,Bogota,2010,"280,000 m2 (3,000,000 sq ft)",250
Indonesia,28,Mal Taman Anggrek,Jakarta,1996,"360,000 m2 (3,900,000 sq ft)",150
Iran,1,Iran Mall,Tehran,2018,"1,950,000 m2 (21,000,000 sq ft)","2,500"
Kuwait,18,The Avenues Mall,Al Rai,2007,"425,000 m2 (4,570,000 sq ft)",1100
Malaysia,2,IOI City Mall,Putrajaya,2014,"821,000 m2 (8,840,000 sq ft)",650
Pakistan,32,Lucky One Mall,Karachi,2017,"340,000 m2 (3,700,000 sq ft)",200
Panama,26,Albrook Mall,Panama City,2002,"380,000 m2 (4,100,000 sq ft)",200
Philippines,5,SM Mall of Asia,Pasay (Metro Manila),2006,"589,891 m2 (6,349,530 sq ft)","3,500"
Russia,48,Greenwich Mall,Ekaterinburg,2006,"258,673 m2 (2,784,330 sq ft)",250
Saudi Arabia,46,Mall of Arabia,Jeddah,2010,"261,000 m2 (2,810,000 sq ft)",187
South Korea,25,Lotte World Mall,Seoul,2014,"383,470 m2 (4,127,600 sq ft)",200
Taiwan,19,Dream Mall,Kaohsiung,2007,"400,000 m2 (4,300,000 sq ft)",250
Thailand,8,Central WestGate,Nonthaburi (Bangkok Metropolitan Region),2015,"550,278 m2 (5,923,140 sq ft)",500
United Arab Emirates,29,The Dubai Mall,Dubai,2008,"350,000 m2 (3,800,000 sq ft)",400
United States,11,Mall of America,"Bloomington, MN (Minneapolisâ€“Saint Paul)",1992,"520,257 m2 (5,600,000 sq ft)",520
Venezuela,50,Centro Sambil,Caracas,1998,"250,000 m2 (2,700,000 sq ft)",300

In [116]:
#first function will arange the countries in alphabetical order.

# THANKYOU